<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layouts/APPHeader/apphead :: headFragment" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>이안옵틱</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>  
    <!-- <link rel="stylesheet" th:href="@{/assets/css/common.css}" > -->
</head> 
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
</style>
<body style="background: #f5f9fa;">
    <form class="row gy-2 gx-4 align-items-center" role="form" th:object="${userFormDto}" ></form>
    <div class="content flex">
        
            <div class="header on">
                <div class="left">
                    <div class="ham">
                        <button type="button"><img th:src="@{/assets/images/ham.png}" alt=""></button>
                    </div>
                    <div class="nav_bg"></div>
                    <!-- ## Left navigator include -->
                    <th:block th:include="layouts/APPHeader/appcareleft" />
                </div>
                <div class="right">
                </div> 
            </div>
            <div class="con">
                <!-- ## header top include -->
                <th:block th:include="layouts/APPHeader/appheadTop" />

                <div class="infor_bar type2"> 
                    <div class="left">
                        공지사항
                    </div> 
                </div> 
                <div class="section ">                
                    <div class="sec_con" style="width: 70%;">
                        <div class="box_wrap">  
                            <div class="row gx-3" style="  margin: 10px 10px 10px;">   
                                 
                                <div class="col-auto"> 
                                    <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">제목</span>
                                        <input class="form-control" type="text"   id="actcustnm" name="actcustnm" aria-describedby="basic-addon1" />
                                    </div>  
                                </div>    
                                <div class="col-auto">  
                                    <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button"  id="retrieveBtn" >조회
                                    </button> 
                                </div>
                                <div class="col-auto">  
                                    <button  class="color4" type="button" visible="false" data-bs-toggle="modal" data-bs-target="#fileBackdrop" id="filemodal_btn" onclick="clear_rtn(this)" >미리보기 </button>
                                </div> 
                            </div> 
                            <form action="">
                                 
                                <div class="container-fluid"> 
                                    <div id="mGrid_div" style="overflow:scroll;   height:600px;     margin:0 auto; "></div>  
                                    <!-- <div id="thePager01"></div> -->
                                </div>   

                            </form>

                        </div>
                    </div>
                </div>
            </div>  
    </div>


    <!--------------------------------------------------------------------------------------->
    <!-- ###########  공지확인 #############################################################-->
    <!--------------------------------------------------------------------------------------->
    <input class="form-control form-control-sm"  type="hidden" id="listmodal_btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"  /> 
    <form   id="form" name="form"  role="form"   method="post"  enctype="multipart/form-data">
        <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false"
                data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
                aria-hidden="true">
            <div class="modal-dialog modal-lg mt-6" role="document" id = "modalForm01"
                    style="max-width: 900px">
                <div class="modal-content border-0">
                    <div class="modal-body p-0" >
                        <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
                            <h4 class="mb-1" id="staticBackdropLabel">공지사항</h4>
                        </div>
                        <div class="section "> 
                            <div class="sec_con" style="width: 100%;">
                                <div class="box_wrap"> 
                                    <div class="table table_style1">
                                        <table>
                                            <tr>
                                                <th>제목</th>
                                                <td colspan="5">
                                                    <span id="actnsubjectz"></span>
                                                </td>
                                            </tr> 
                                            <tr> 
                                                <th style="width: 10%;">작성자</th>
                                                <td style="width: 23%">                                                
                                                    <span id="actnpernmz"></span>
                                                    <!-- <input type="text" name="actnpernmz" id="actnpernmz" disabled> -->
                                                </td>
                                                <th style="width: 13%;">작성일자</th>
                                                <td style="width: 23%"  >
                                                    <span id="actninputdatez"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>내용</th>
                                                <td colspan="5">
                                                    <span id="actnmemoz"></span>  
                                                </td>
                                            </tr> 
                                            <tr>
                                                <th>첨부파일</th>
                                                <td colspan="3">
                                                    <div data-name="filelistDiv" id="filelistDiv" class="table table_style3"></div> 
                                                </td> 
                                            </tr> 
                                        </table> 
                                        <br>
                                        <span id="spcount"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
    
    
                    </div>
                    <div class="modal-footer">
                        <div class="row g-1">
                            <div class="col-auto">
                                <button class="badge-soft-primary dropdown-item rounded-1"
                                        type="button" id="CloseBtn"  data-bs-dismiss="modal">Close</button>
                            </div>
                            <!-- <div class="col-auto">
                                <button class="badge-soft-info dropdown-item rounded-1"
                                    type="submit">저장 </button>
                            </div> -->
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </form>
 



    <script type="text/javascript" th:inline="javascript"> 

    let formData = new FormData();
    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    //현장 검색   
    var wapp04Grid ;
    var view_Mmanualpage;
//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    window.onload = function() { 
        document.getElementById("filemodal_btn").style.display="none";
        view_Mnoticepage = new wijmo.collections.CollectionView(getData_wlist(), {
           // pageSize: 20
        });     
        wapp04Grid = new wijmo.grid.FlexGrid('#mGrid_div', { 
            autoGenerateColumns: false,
            selectionMode: 'RowRange',
            alternatingRowStep: 0,
            columns: [
                { binding: 'ninputdate', header: '등록일자', width: 150,   align:"center",  isReadOnly: true },
                { binding: 'nsubject',width: '*', header: '제목', width: '*', align:"left", format: '*' ,
                    cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({
                        text: '<b>${item.nsubject}</b>',
                        click: (e, ctx) => {
                            viewPage(ctx.item.nseq, ctx.item.cnam, ctx.item.nsubject, ctx.item.npernm, ctx.item.nfilename, ctx.item.ninputdate , ctx.item.ngourpcd , ctx.item.nmemo, ctx.item.nflag );
                        }
                    })
                },
                { binding: 'npernm', header: '작성자', width: 100,   align:"center", isReadOnly: true } ,
                { binding: 'attcnt', header: '첨부파일', width: 150, format: 'n0',  align:"center", isReadOnly: true,
                    cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({
                        text: '<b>${item.attcnt}건</b>',
                        click: (e, ctx) => {
                            viewPage(ctx.item.nseq, ctx.item.cnam, ctx.item.nsubject, ctx.item.npernm, ctx.item.nfilename, ctx.item.ninputdate , ctx.item.ngourpcd , ctx.item.nmemo, ctx.item.nflag );
                        }
                    }) } , 
                { binding: 'nseq', header: '번호', width: 100, format: '*' , align:"center", isReadOnly: true}                

            ],
            itemsSource: view_Mnoticepage
        });  
        
        wapp04Grid.hostElement.addEventListener("click",function(e){
            var ht = wapp04Grid.hitTest(e);
            if(ht.cellType === wijmo.grid.CellType.Cell){
                // console.log(ht._p._rows );
                //  data = ht.RowCollection(ht.row); // e.getCellData(ht.row, 0, false); 
                // console.log(data);

            }
        }) 
        setHeaderColumn2(false);
        function setHeaderColumn2(headerOn) {
            wapp04Grid.headersVisibility = headerOn
            ? wijmo.grid.HeadersVisibility.All
            : wijmo.grid.HeadersVisibility.Column; 
        }  
        function getData_wlist(){
            var mapp05Dto = [[${App05Dto}]];
            var data01 = [];
            var cnt = 1;
 
            for (var i = 0; i < mapp05Dto.length; i++) {
                data01.push({
                    id: i,
                    index: cnt,
                    nseq:     mapp05Dto[i]["nseq"],
                    cnam:     mapp05Dto[i]["cnam"],
                    nsubject: mapp05Dto[i]["nsubject"],
                    npernm:   mapp05Dto[i]["npernm"],
                    attcnt : mapp05Dto[i]["attcnt"] ,
                    ninputdate : mapp05Dto[i]["ninputdate"].substr(0,4) + "-" + mapp05Dto[i]["ninputdate"].substr(4,2)+"-"+mapp05Dto[i]["ninputdate"].substr(6,2) ,
                    ngourpcd : mapp05Dto[i]["ngourpcd"]     ,
                    nmemo : mapp05Dto[i]["nmemo"]     ,
                    nflag : mapp05Dto[i]["nflag"]
                });
                cnt++;
            } 
            return data01                                
        } 
        
        

        // 첨부파일 보기 modal 호출
        function viewFilePage(arg1 ){
            $("#filemodal_btn").trigger("click");

            var wfile_data = [];
            const fileHtml = '';
            $.ajax({
                url: '/appadmod/flist',
                type:"POST",
                data: {
                    "actnseqz"     : arg1,
                    "actnflagz"     : "NN",
                },
                async:false,
                success:function(data){
                    var wfileDto  = data;
                    var cnt = 0;

                    const filelistDiv = $('div[data-name="filelistDiv"]');
                    filelistDiv.empty(); 
                    if(wfileDto.length > 0){
                        for (var i = 0; i < wfileDto.length; i++) {
                                var  id = i;
                                var  idx = wfileDto[i]["idx"];
                                var  boardIdx = wfileDto[i]["boardIdx"];
                                var  originalName = wfileDto[i]["originalName"];
                                // console.log(id, idx, boardIdx, originalName);

                                const fileHtml = `
                                <div data-name="filelistDiv" class="form-group filebox bs3-primary">
                                    <a href="/appx/download?actidxz=${idx}&actboardz=${boardIdx}&actflagz=NN" target="_blank" > ${originalName} 다운로드 </a>
                                </div>
                                `;
                                // console.log(fileHtml);
                                $('#filelistDiv').after(fileHtml);
                                $('#btnDiv02').before(fileHtml);

                            cnt++;
                        }
                    } else{
                        // const fileHtml = `  `;
                        // $('#filelistDiv').after(fileHtml);
                    }
                },error:function(e){

                }
            }).done(function(fragment){

            })

        }


        // 첨부파일 다운로드 호출  get 방식으로만 가능함.
        function fileDownload(arg1, arg2 ){
            $.ajax({
                url: '/appx/download',
                type:"GET",
                data: {
                    "actidxz"     : arg1,
                    "actboardz"    : arg2,
                    "actflagz"     : "NN",
                },
                async:false,
                success:function(data){
                    // console.log("result : " + data)
                },error:function(e){

                }
            }).done(function(fragment){

            })

        }


    }
   

    document.getElementById("retrieveBtn").addEventListener("click",function(){ 
        listUp();

    })   
    
    
    let fileIdx = 0; /*[- 파일 인덱스 처리용 전역 변수 -]*/
    function listUp(){
        var ls_actcustnm = document.getElementById('actcustnm').value;
        var ls_flag = "02"; 
        console.log(ls_actcustnm)
        $.ajax({
            url: '/appadmod/noticelist',  
            type:"POST",
            data: { 
                "actcustnm" :ls_actcustnm ,
                "flag" :ls_flag
            }, 
            async:false,
            success:function(data){        
                if(data == "relogin"){
                    alert("다시 로그인해주세요")
                    window.location.href='http://eean.co.kr';
                    return 
                }    
                wtab01Dto  = data;  
                chkLogin(wtab01Dto)  
                tabA_grid(data);
            },error:function(e){
                console.log("error");                            
            }
        }).done(function(fragment){           

        })    
    }  
    function tabA_grid(data){ 
        var wtab04Dto  = data;    
        var wtab04_data = [];
        var cnt = 1; 
        for (var i = 0; i < wtab04Dto.length; i++) { 
            wtab04_data.push({
                id: i,
                index: cnt,
                nseq:     wtab04Dto[i]["nseq"],
                cnam:     wtab04Dto[i]["cnam"],
                nsubject: wtab04Dto[i]["nsubject"],
                npernm:   wtab04Dto[i]["npernm"],
                attcnt : wtab04Dto[i]["attcnt"] ,
                ninputdate : wtab04Dto[i]["ninputdate"].substr(0,4) + "-" + wtab04Dto[i]["ninputdate"].substr(4,2)+"-"+wtab04Dto[i]["ninputdate"].substr(6,2) ,
                ngourpcd : wtab04Dto[i]["ngourpcd"]     ,
                nmemo : wtab04Dto[i]["nmemo"]     ,
                nflag : wtab04Dto[i]["nflag"]        
            });
            cnt++;
        }   

        wapp04Grid.columns.clear();  
        wapp04Grid.autoGenerateColumns = false; 
        view_Mnoticepage.sourceCollection  = wtab04_data;  

        var cols = new wijmo.grid.Column(); 
        cols.binding = 'ninputdate';
        cols.header = '등록일자';
        cols.align = "center";
        cols.width = 150;  
        wapp04Grid.columns.push(cols);  
        // cols = new wijmo.grid.Column();      
        // cols.binding = 'cnam';
        // cols.header = '구분';
        // cols.align = "center";
        // cols.width = 150;  
        // wapp04Grid.columns.push(cols); 
        cols = new wijmo.grid.Column();     
        cols.binding = 'nsubject';
        cols.header = '제목';
        cols.align = "left";
        cols.width = "*";  
        cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
            text: '<b>${item.nsubject}</b>',
            click: (e, ctx) => {
                viewPage(ctx.item.nseq, ctx.item.cnam, ctx.item.nsubject, ctx.item.npernm, ctx.item.nfilename, ctx.item.ninputdate , ctx.item.ngourpcd , ctx.item.nmemo, ctx.item.nflag );
                
            }
        });
        wapp04Grid.columns.push(cols);   
        cols = new wijmo.grid.Column(); 
        cols.binding = 'npernm';
        cols.header = '작성자';
        cols.align = "center";
        cols.width = 150;  
        wapp04Grid.columns.push(cols);  
        cols = new wijmo.grid.Column(); 
        cols.binding = 'attcnt';
        cols.header = '첨부파일';
        cols.align = "center";
        cols.width = 150;  
        cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
            text: '<b>${item.attcnt}건</b>',
            click: (e, ctx) => {
                viewPage(ctx.item.nseq, ctx.item.cnam, ctx.item.nsubject, ctx.item.npernm, ctx.item.nfilename, ctx.item.ninputdate , ctx.item.ngourpcd , ctx.item.nmemo, ctx.item.nflag );
                
            }
        });
        wapp04Grid.columns.push(cols); 
        cols = new wijmo.grid.Column(); 
        cols.binding = 'nseq';
        cols.header = '번호';
        cols.align = "center";
        cols.width = 100;  
        wapp04Grid.columns.push(cols);   
    }    


    function viewPage(arg1,arg2,arg3,arg4,arg5,arg6,arg7,arg8,arg9  ){
            $("#listmodal_btn").trigger("click");
            document.getElementById('actnsubjectz').innerHTML= arg3;
            document.getElementById('actnpernmz').innerHTML= arg4;
            // document.getElementById('actnfilenamez').value= arg5;
            arg6 = arg6.substr(0,4) +  arg6.substr(4, 2) + arg6.substr(6,9);
            document.getElementById('actninputdatez').innerHTML= arg6;
            // document.getElementById('actngroupcdz').value= arg7;/
            document.getElementById('actnmemoz').innerHTML= arg8; 
            // 이미지가 span#memo에 추가된 후 사이즈를 조정
            let images = document.querySelectorAll('#actnmemoz img');
            images.forEach(function(image) {
                image.style.maxWidth = '100%';  // 부모 요소의 크기에 맞게 조정
                image.style.height = 'auto';    // 비율에 맞게 높이 자동 조정
            }); 

            var wfile_data = [];
            $.ajax({
                    url: '/appadmod/flist',
                    type:"POST",
                    data: {
                        "actnseqz"     : arg1,
                        "actnflagz"     : "NN",
                    },
                    async:false,
                    success:function(data){
                        var wfileDto  = data;
                        var cnt = 0;
                        if(wfileDto.length > 0){
                            for (var i = 0; i < wfileDto.length; i++) {
                                // wfile_data.push({
                                //     id: i,
                                //     index: cnt,
                                //     idx: wfileDto[i]["idx"],
                                //     boardIdx: wfileDto[i]["boardIdx"],
                                //     originalName: wfileDto[i]["originalName"],
                                // });
                                    var  id = i;
                                    var  idx = wfileDto[i]["idx"];
                                    var  boardIdx = wfileDto[i]["boardIdx"];
                                    var  originalName = wfileDto[i]["originalName"];

                                const fileHtml = `
                                <div data-name="fileDiv" class="form-group filebox bs3-primary">
                                    <div class="table table_style3">
                                        <table>
                                            <tr>
                                                <th style="width: 7%;">첨부파일</th>
                                                <td colspan="5">
                                                    <div class="col-sm-15">
                                                        <input type="hidden" name="fileIdxs" value="${idx}" />
                                                        <input type="text" class="upload-name" value="${originalName}" readonly />

                                                        <button type="button" onclick="deleteFile(this, ${idx},  ${boardIdx})" class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
                                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                `;
                                $('#btnDiv').before(fileHtml);

                                cnt++;
                            }
                        } else{
                            const fileHtml = `  `;
                            $('#btnDiv').before(fileHtml);
                        }
                    },error:function(e){

                    }
                }).done(function(fragment){

                })

                
                var wfile_data = [];
                    const fileHtml = '';
                    $.ajax({
                        url: '/appadmod/flist',
                        type:"POST",
                        data: {
                            "actnseqz"     : arg1,
                            "actnflagz"     : "NN",
                        },
                        async:false,
                        success:function(data){
                            var wfileDto  = data;
                            var cnt = 0;

                            const filelistDiv = $('div[data-name="filelistDiv"]');
                            filelistDiv.empty(); 
                            if(wfileDto.length > 0){
                                for (var i = 0; i < wfileDto.length; i++) {
                                        var  id = i;
                                        var  idx = wfileDto[i]["idx"];
                                        var  boardIdx = wfileDto[i]["boardIdx"];
                                        var  originalName = wfileDto[i]["originalName"];
                                        // console.log(id, idx, boardIdx, originalName);

                                        const fileHtml = `
                                        <div data-name="filelistDiv" class="form-group filebox bs3-primary">
                                            <a href="/appx/download?actidxz=${idx}&actboardz=${boardIdx}&actflagz=NN" target="_blank" > ${originalName} 다운로드 </a>
                                        </div>
                                        `;
                                        // console.log(fileHtml);
                                        $('#filelistDiv').after(fileHtml);
                                        $('#btnDiv02').before(fileHtml);

                                    cnt++;
                                }
                            } else{
                                // const fileHtml = `  `;
                                // $('#filelistDiv').after(fileHtml);
                            }
                        },error:function(e){

                        }
                    }).done(function(fragment){

                    })   

        }
    
    function chkLogin(argdata){
        if(argdata == "relogin"){
                alert("다시 로그인해주세요")
                window.location.href='http://eean.co.kr';
                return 
        }    
    }   
    function clear_rtn(elem){
            // console.log("clear rtn");
            document.getElementById('actnseqz').value= "";
            document.getElementById('actnsubjectz').value= "";
            document.getElementById('actnpernmz').value= "";
            // document.getElementById('actnfilenamez').value= "";
            document.getElementById('actninputdatez').value= "";
            // document.getElementById('actngroupcdz').value= "";
            document.getElementById('actnmemoz').value= "";
            document.getElementById('actnflagz').value= "";
            const target = $(elem).parents('div[data-name="fileDiv"]');
            fileIdx = 0;
            const fileDivs = $('div[data-name="fileDiv"]');
            fileDivs.remove();
            getToday()
        }
        
    function getToday(){
        let today = new Date();

        let year = today.getFullYear(); // 년도
        let month = today.getMonth() + 1;  // 월
        let date = today.getDate();  // 날짜
        let day = today.getDay();  // 요일
        if(month > 0 && month < 10) {month = "0" + month};
        if(date > 0 && date < 10) {date = "0" + date};
        let ls_today = year + '-' + month + '-' + date
        document.getElementById('actninputdatez').value = ls_today;
    }

    </script>

    <!------footer ------>
    <footer th:replace="layouts/APPHeader/appfooter :: footerFragment"></footer> 

 
    
</body>
</html>