<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layouts/APPHeader/apphead :: headFragment" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>이안옵틱</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>  
    <!-- <link rel="stylesheet" th:href="@{/assets/css/common.css}" > -->
</head> 
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
</style>
<body style="background: #f5f9fa;">
    <form class="row gy-2 gx-4 align-items-center" role="form" th:object="${userFormDto}" ></form>
    <div class="content flex">
        
            <div class="header on">
                <div class="left">
                    <div class="ham">
                        <button type="button"><img th:src="@{/assets/images/ham.png}" alt=""></button>
                    </div>
                    <div class="nav_bg"></div>
                    <!-- ## Left navigator include -->
                    <th:block th:include="layouts/APPHeader/appcareleftadmin" />
                </div>
                <div class="right">
                </div> 
            </div>
            <div class="con">
                <!-- ## header top include -->
                <th:block th:include="layouts/APPHeader/appheadTop" />

                <div class="infor_bar type2">
                    <!-- <ul class="right" style="visibility: hidden; opacity: 0;">
                        <li>
                            <button type="button" class="color2">
                                <i><img th:src="@{/assets/images/i_search.png}" alt=""></i>조회
                            </button>
                        </li>
                        <li>
                            <button type="button" class="color5">
                                <i><img th:src="@{/assets/images/i_print.png}" alt=""></i>프린트
                            </button>
                        </li>
                    </ul> -->
                    <div class="left">
                        공지사항
                    </div>
                    <!-- <ul class="right">
                        <li> 
                            <button  class="color4" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="listmodal_btn" onclick="clear_rtn(this)" >공지등록 </button>
                        </li> 
                    </ul> -->
    
                </div> 
                <div class="section ">                
                    <div class="sec_con" style="width: 70%;">
                        <div class="box_wrap">  
                            <div class="row gx-3" style="  margin: 10px 10px 10px;">   
                                 
                                <div class="col-auto"> 
                                    <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">제목</span>
                                        <input class="form-control" type="text"   id="actcustnm" name="actcustnm" aria-describedby="basic-addon1" />
                                    </div>  
                                </div>   
                                <div class="col-auto">  
                                    <select class="form-select" th:field="*{index01ListDto}" name="actrnum" id="actrnum"> 
                                        <option value="">공지분류</option>
                                        <option th:each="val : ${index01ListDto}" th:value="${val.com_code}" th:text="${val.com_rem1}">
                                    </select>  
                                </div>   
                                <div class="col-auto">  
                                    <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button"  id="retrieveBtn" >조회
                                    </button> 
                                </div>   
                                <div class="col-auto">   
                                    <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button" onclick="save_btn()">삭제
                                    </button>
                                </div>    
                                <div class="col-auto">  
                                    <!-- <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button"  id="addBtn" >등록
                                    </button>  -->
                                    <button  class="btn btn-falcon-danger me-1 mb-1 btn-sm"  type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="listmodal_btn" onclick="clear_rtn(this)" >공지등록 </button>
                                    <button  class="color4" type="button" visible="false" data-bs-toggle="modal" data-bs-target="#fileBackdrop" id="filemodal_btn" onclick="clear_rtn(this)" >미리보기 </button>
                                </div> 
                                <!-- <div class="col-auto">   
                                    <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button" onclick="delete_btn()">삭제
                                    </button>
                                </div>   -->
                            </div> 
                            <form action="">
                                 
                                <div class="container-fluid"> 
                                    <div id="mGrid_div" style="overflow:scroll;   height:600px;     margin:0 auto; "></div>  
                                    <!-- <div id="thePager01"></div> -->
                                </div>   

                            </form>

                        </div>
                    </div>
                </div>
            </div>  
    </div>


    <!--------------------------------------------------------------------------------------->
    <!-- ###########  공지등록 #############################################################-->
    <!--------------------------------------------------------------------------------------->

    <form   id="form" name="form"  role="form"   method="post"  enctype="multipart/form-data">
        <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false"
             data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg mt-6" role="document" id = "modalForm01"
                 style="max-width: 900px">
                <div class="modal-content border-0">
                    <div class="modal-body p-0" >
                        <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
                            <h4 class="mb-1" id="staticBackdropLabel">공지등록</h4>
                        </div>
                        <div class="section ">

                            <div class="sec_con" style="width: 100%;">
                                <div class="box_wrap">
                                    <div class="reference_tit">
                                        <div class="title">
                                            제목
                                        </div>
                                        <div class="input_wrap">
                                            <input type="text" name="actnsubjectz" id="actnsubjectz" >
                                            <input type="hidden" name="actnseqz" id="actnseqz" >
                                        </div>
                                        <div class="title" >
                                            작성일자
                                        </div>
                                        <div class="input_wrap date" style="max-width: 235px">
                                            <input type="text"  class="form-control datetimepicker" id="actninputdatez" autocomplete="off"  placeholder="Y-m-d"   disabled  >
                                        </div>
                                    </div>
                                    <div class="table table_style1">
                                        <table>
                                            <tr>
                                                <th style="width: 7%;">분류</th>
                                                <td style="width: 24%">
                                                    <div class="input_wrap" style="max-width: 235px;">
                                                        <select class="form-select" th:field="*{index01ListDto}" name="actngroupcdz" id="actngroupcdz"> 
                                                            <option value="">선택</option>
                                                            <option th:each="val : ${index01ListDto}" th:value="${val.com_code}" th:text="${val.com_rem1}">
                                                        </select>  
                                                    </div>
                                                </td>
                                                <th style="width: 10%;">작성자</th>
                                                <td style="width: 23%">
                                                    <input type="text" name="actnpernmz" id="actnpernmz" >
                                                </td>
                                                <th style="width: 13%;">전체공지</th>
                                                <td style="width: 23%">
                                                    <input type="checkbox" id="actnflagz" value="Y" >
                                                    <label for="actnflagz" class="check_style1 no_txt"></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>내용</th>
                                                <td colspan="5">
                                                    <textarea class="form-control" aria-label="With textarea"  id="actnmemoz" rows="10"></textarea>
                                                </td>
                                            </tr>
                                            <div data-name="fileDiv" class="form-group filebox bs3-primary">
                                                <tr>
                                                    <th>첨부파일</th>
                                                    <td colspan="5">
                                                        <!-- <label for="file_0" class="col-sm-2 control-label">파일1</label> -->
                                                        <div class="col-sm-15">
                                                            <input type="text" class="upload-name" value="파일 찾기" readonly />
                                                            <label for="file_0" class="control-label">찾아보기</label>
                                                            <input type="file" name="files_0" id="file_0" multiple='multiple'  class="upload-hidden" onchange="changeFilename(this)" />

                                                            <button type="button" onclick="addFile()" class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
                                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                            </button>
                                                            <button type="button" onclick="removeFile(this)" class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
                                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </div>
                                            <!-- <tr>
                                                <th>미리보기</th>
                                                <td>
                                                    <textarea></textarea>
                                                </td>
                                            </tr> -->
                                        </table>
                                        <div id="btnDiv" class="btn_wrap">
                                            <button  class="btn btn-outline-danger me-1 mb-1" type="button"   onclick='delete_btn()' >삭&nbsp;&nbsp;&nbsp;제</button>
                                            <button  class="btn btn-outline-danger me-1 mb-1" type="button"   onclick='save_btn()' >저&nbsp;&nbsp;&nbsp;장</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <div class="row g-1">
                            <div class="col-auto">
                                <button class="badge-soft-primary dropdown-item rounded-1"
                                        type="button" id="CloseBtn"  data-bs-dismiss="modal">Close</button>
                            </div>
                            <!-- <div class="col-auto">
                                <button class="badge-soft-info dropdown-item rounded-1"
                                    type="submit">저장 </button>
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>

    <!--------------------------------------------------------------------------------------->
    <!-- ###########  첨부파일 미리보기######################################################-->
    <!--------------------------------------------------------------------------------------->

    <form   id="form" name="form"  role="form"   method="post"  enctype="multipart/form-data">
        <div class="modal fade" id="fileBackdrop" data-bs-keyboard="false"
             data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg mt-6" role="document" id = "modalForm02"
                 style="max-width: 900px">
                <div class="modal-content border-0">
                    <div class="modal-body p-0" >
                        <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
                            <h4 class="mb-1" id="staticBackdropLabel">파일다운로드</h4>
                        </div>
                        <div class="section ">

                            <div class="sec_con" style="width: 100%;">
                                <div class="box_wrap">
                                    <table>
                                        <tr>
                                            <th style="width: 10%;">파일목록</th>
                                        </tr>
                                        <tr>
                                            <td style="width: 90%">
                                                <div data-name="filelistDiv" id="filelistDiv" class="table table_style3"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row g-1">
                            <div class="col-auto">
                                <button class="badge-soft-primary dropdown-item rounded-1"
                                        type="button" id="CloseFileBtn"  data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>



    <script type="text/javascript" th:inline="javascript"> 

    let formData = new FormData();
    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    //현장 검색   
    var wapp04Grid ;
    var view_Mmanualpage;
    document.getElementById("retrieveBtn").addEventListener("click",function(){ 
        listUp();

    })   
    
    
    let fileIdx = 0; /*[- 파일 인덱스 처리용 전역 변수 -]*/

    function addFile() {

        const fileDivs = $('div[data-name="fileDiv"]');
        if (fileDivs.length > 2) {
            alert('파일은 최대 세 개까지 업로드 할 수 있습니다.');
            return false;
        }

        fileIdx++;
        const fileHtml = `
        <div data-name="fileDiv" class="form-group filebox bs3-primary">
            <div class="table table_style3">
                <table>
                    <tr>
                        <th style="width: 7%;">첨부파일</th>
                        <td colspan="5">
                            <!-- <label for="file_${fileIdx}" class="col-sm-2 control-label">파일1</label> -->
                            <div class="col-sm-15">
                                <input type="text" class="upload-name" value="파일 찾기" readonly />
                                <label for="file_${fileIdx}" class="control-label">찾아보기</label>
                                <input type="file" name="files_${fileIdx}" id="file_${fileIdx}" multiple='multiple'  class="upload-hidden" onchange="changeFilename(this)" />

                                <button type="button" onclick="removeFile(this)" class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        `;


        $('#btnDiv').before(fileHtml);
    }

    function removeFile(elem) {

        const prevTag = $(elem).prev().prop('tagName');
        if (prevTag === 'BUTTON') {
            const file = $(elem).prevAll('input[type="file"]');
            const filename = $(elem).prevAll('input[type="text"]');
            file.val('');
            filename.val('파일 찾기');
            return false;
        }

        const target = $(elem).parents('div[data-name="fileDiv"]');
        fileIdx = fileIdx - 1;
        target.remove();
    }


    function deleteFile(elem, arg1, arg2) {

        if (!confirm("파일을 삭제하시겠습니까?")) {
            return ;
        }

        //도면 파일 삭제
        $.ajax({
            url: '/appadmod/filedel',
            type:"POST",
            data: {
                "actidxz"     : arg1 ,
                "actnseqz"    : arg2 ,
                "actnflagz"    : "NN"
            },
            async:false,
            success:function(data){
                if(data == "success"){
                    // console.log("deletefile", data);
                    const target = $(elem).parents('div[data-name="fileDiv"]');
                    target.remove();
                }else{
                    alert("삭제중 오류가 발생했습니다. 관리자에게 문의하세요.")
                }
            },error:function(e){
                console.log('error',e);
            }
        }).done(function(fragment){

        })


    } 
    function changeFilename(file) { 
        file = $(file);
        const filename = file[0].files[0].name;
        const target = file.prevAll('input');
        target.val(filename);
    }
    function save_btn(){


        //도면 자료 저장
        const happyNewYear = new Date(2021, 0, 1);
        const year = happyNewYear.getFullYear();
        const month = happyNewYear.getMonth() + 1;
        const date = happyNewYear.getDate();

        ls_todate = `${year} + ${month >= 10 ? month : '0' + month} + ${date >= 10 ? date : '0' + date}`;

        var ls_actnseqz   = document.getElementById('actnseqz').value;
        var ls_actninputdatez   = document.getElementById('actninputdatez').value;
        var ls_actngroupcdz = document.getElementById('actngroupcdz').value;
        var ls_actnsubjectz   = document.getElementById('actnsubjectz').value;
        // var ls_actmfilenamez   = document.getElementById('actmfilenamez').value;
        var ls_actnpernmz   =  document.getElementById('actnpernmz').value;
        var ls_actnmemoz   = document.getElementById('actnmemoz').value;
        if(document.getElementById('actnflagz').checked){
            ls_actnflagz = "Y"
        }else{
            ls_actnflagz = "N"
        };
        if(!ls_actninputdatez){
            ls_actninputdatez = ls_todate;
        }
        if(!ls_actnsubjectz){
            alert("제목을 입력하세요")
            return
        }
        if(!ls_actnmemoz){
            alert("본문을 입력하세요")
            return
        }
        if(!ls_actnflagz){
            ls_actnflagz = "Y";
        }
        for (h = 0; h <= fileIdx; h++ ){
            ls_fileid = 'file_' + h;

            const fileInput = document.getElementById(ls_fileid);
            // const selectedFile = fileInput.files[0];
            const selectedFile = [...fileInput.files];
            for (s = 0; s <= selectedFile.length - 1; s++){
                formData.append("file", selectedFile[s]);
                // console.log(selectedFile[s]);
            }

        }
        var inputdata = {
            "actnseqz"    : ls_actnseqz ,
            "actninputdatez"    : ls_actninputdatez ,
            "actngroupcdz"  : ls_actngroupcdz,
            "actnsubjectz"      : ls_actnsubjectz ,
            "actnpernmz"   : ls_actnpernmz   ,
            "actnmemoz"   : ls_actnmemoz,
            "actnflagz"   : ls_actnflagz
        }


        formData.append("key", new Blob([ JSON.stringify(inputdata) ], {type : "application/json"}));

        $.ajax({
            url: '/appadmod/id06sav',
            processData : false,                //  processData : false로 선언 시 formData를 string으로 변환하지 않음
            contentType : false,                // contentType : false 로 선언 시 content-type 헤더가 multipart/form-data로 전송되게
            enctype : 'multipart/form-data',
            type: "POST",
            data: formData,
            async:false,
            success:function(data){
                // console.log("등록OK", data);
                if(data == "success"){
                    alert("저장되었습니다.")
                    // console.log("save", data);
                    $("#CloseBtn").trigger("click");
                    listUp();
                }else{
                    alert("저장중 오류가 발생했습니다. 관리자에게 문의하세요.")
                }

            },error:function(e){
                console.log('error',e);
            }
        }).done(function(fragment){

        })

    }
    function delete_btn(){

        if (!confirm("삭제하시겠습니까?")) {
            return ;
        }

        //도면 자료 삭제
        var ls_actnseqz   = document.getElementById('actnseqz').value;
        if(!ls_actnseqz){
            alert("삭제할 자료를 선택하세요")
            return
        }
        $.ajax({
            url: '/appadmod/id06del',
            type:"POST",
            data: {
                "actnseqz"    : ls_actnseqz,
                "actnflagz"    : "NN"
            },
            async:false,
            success:function(data){
                if(data == "success"){
                    alert("삭제되었습니다.")
                    // console.log("delete", data);
                    $("#CloseBtn").trigger("click");
                    listUp();
                }else{
                    alert("삭제중 오류가 발생했습니다. 관리자에게 문의하세요.")

                }
            },error:function(e){
                console.log('error',e);
            }
        }).done(function(fragment){

        }) 
        listUp(); 
    } 
    function listUp(){
            window.location.href = '/admin/index06';
    }
    function clear_rtn(elem){
            // console.log("clear rtn");
            document.getElementById('actnseqz').value= "";
            document.getElementById('actnsubjectz').value= "";
            document.getElementById('actnpernmz').value= "";
            // document.getElementById('actnfilenamez').value= "";
            document.getElementById('actninputdatez').value= "";
            document.getElementById('actngroupcdz').value= "";
            document.getElementById('actnmemoz').value= "";
            document.getElementById('actnflagz').value= "";
            const target = $(elem).parents('div[data-name="fileDiv"]');
            fileIdx = 0;
            const fileDivs = $('div[data-name="fileDiv"]');
            fileDivs.remove();
            getToday()
        }
        
    function getToday(){
        let today = new Date();

        let year = today.getFullYear(); // 년도
        let month = today.getMonth() + 1;  // 월
        let date = today.getDate();  // 날짜
        let day = today.getDay();  // 요일
        if(month > 0 && month < 10) {month = "0" + month};
        if(date > 0 && date < 10) {date = "0" + date};
        let ls_today = year + '-' + month + '-' + date
        document.getElementById('actninputdatez').value = ls_today;
    }

//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    window.onload = function() { 
        document.getElementById("filemodal_btn").style.display="none";
        view_Mnoticepage = new wijmo.collections.CollectionView(getData_wlist(), {
           // pageSize: 20
        });     
        wapp04Grid = new wijmo.grid.FlexGrid('#mGrid_div', { 
            autoGenerateColumns: false,
            selectionMode: 'RowRange',
            alternatingRowStep: 0,
            columns: [

                { binding: 'nseq', header: '번호', width: 100, format: '*' , align:"center", isReadOnly: true},
                { binding: 'cnam', header: '분류', width: 120, format: '*', align:"center", isReadOnly: true },
                { binding: 'nsubject',width: '*', header: '제목', width: '*', align:"left", format: '*' ,
                    cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({
                        text: '<b>${item.nsubject}</b>',
                        click: (e, ctx) => {
                            viewPage(ctx.item.nseq, ctx.item.cnam, ctx.item.nsubject, ctx.item.npernm, ctx.item.nfilename, ctx.item.ninputdate , ctx.item.ngourpcd , ctx.item.nmemo, ctx.item.nflag );
                        }
                    })
                },
                { binding: 'npernm', header: '작성자', width: 100,   align:"center", isReadOnly: true } ,
                { binding: 'attcnt', header: '첨부파일건수', width: 150, format: 'n0',  align:"center", isReadOnly: true,
                    cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({
                        text: '<b>${item.attcnt}건 보기</b>',
                        click: (e, ctx) => {
                            viewFilePage(ctx.item.nseq );
                        }
                    }) } ,
                { binding: 'ninputdate', header: '등록일자', width: 150,   align:"center",  isReadOnly: true }

            ],
            itemsSource: view_Mnoticepage
        });  
        
        wapp04Grid.hostElement.addEventListener("click",function(e){
            var ht = wapp04Grid.hitTest(e);
            if(ht.cellType === wijmo.grid.CellType.Cell){
                // console.log(ht._p._rows );
                //  data = ht.RowCollection(ht.row); // e.getCellData(ht.row, 0, false); 
                // console.log(data);

            }
        }) 
        setHeaderColumn2(false);
        function setHeaderColumn2(headerOn) {
            wapp04Grid.headersVisibility = headerOn
            ? wijmo.grid.HeadersVisibility.All
            : wijmo.grid.HeadersVisibility.Column; 
        }  
        function getData_wlist(){
            var mapp05Dto = [[${App05Dto}]];
            var data01 = [];
            var cnt = 1;
 
            for (var i = 0; i < mapp05Dto.length; i++) {
                data01.push({
                    id: i,
                    index: cnt,
                    nseq:     mapp05Dto[i]["nseq"],
                    cnam:     mapp05Dto[i]["cnam"],
                    nsubject: mapp05Dto[i]["nsubject"],
                    npernm:   mapp05Dto[i]["npernm"],
                    attcnt : mapp05Dto[i]["attcnt"] ,
                    ninputdate : mapp05Dto[i]["ninputdate"].substr(0,4) + "-" + mapp05Dto[i]["ninputdate"].substr(4,2)+"-"+mapp05Dto[i]["ninputdate"].substr(6,2) ,
                    ngourpcd : mapp05Dto[i]["ngourpcd"]     ,
                    nmemo : mapp05Dto[i]["nmemo"]     ,
                    nflag : mapp05Dto[i]["nflag"]
                });
                cnt++;
            } 
            return data01                                
        } 
        
        

        // 첨부파일 보기 modal 호출
        function viewFilePage(arg1 ){
            $("#filemodal_btn").trigger("click");

            var wfile_data = [];
            const fileHtml = '';
            $.ajax({
                url: '/appadmod/flist',
                type:"POST",
                data: {
                    "actnseqz"     : arg1,
                    "actnflagz"     : "NN",
                },
                async:false,
                success:function(data){
                    var wfileDto  = data;
                    var cnt = 0;

                    const filelistDiv = $('div[data-name="filelistDiv"]');
                    filelistDiv.empty(); 
                    if(wfileDto.length > 0){
                        for (var i = 0; i < wfileDto.length; i++) {
                                var  id = i;
                                var  idx = wfileDto[i]["idx"];
                                var  boardIdx = wfileDto[i]["boardIdx"];
                                var  originalName = wfileDto[i]["originalName"];
                                // console.log(id, idx, boardIdx, originalName);

                                const fileHtml = `
                                <div data-name="filelistDiv" class="form-group filebox bs3-primary">
                                    <a href="/appx/download?actidxz=${idx}&actboardz=${boardIdx}&actflagz=NN" target="_blank" > ${originalName} 다운로드 </a>
                                </div>
                                `;
                                // console.log(fileHtml);
                                $('#filelistDiv').after(fileHtml);
                                $('#btnDiv02').before(fileHtml);

                            cnt++;
                        }
                    } else{
                        // const fileHtml = `  `;
                        // $('#filelistDiv').after(fileHtml);
                    }
                },error:function(e){

                }
            }).done(function(fragment){

            })

        }


        // 첨부파일 다운로드 호출  get 방식으로만 가능함.
        function fileDownload(arg1, arg2 ){
            $.ajax({
                url: '/appx/download',
                type:"GET",
                data: {
                    "actidxz"     : arg1,
                    "actboardz"    : arg2,
                    "actflagz"     : "NN",
                },
                async:false,
                success:function(data){
                    // console.log("result : " + data)
                },error:function(e){

                }
            }).done(function(fragment){

            })

        }


        function viewPage(arg1,arg2,arg3,arg4,arg5,arg6,arg7,arg8,arg9  ){ 
            $("#listmodal_btn").trigger("click");
            document.getElementById('actnseqz').value= arg1;
            document.getElementById('actnsubjectz').value= arg3;
            document.getElementById('actnpernmz').value= arg4;
            // document.getElementById('actnfilenamez').value= arg5;
            arg6 = arg6.substr(0,4) +  arg6.substr(4, 2) + arg6.substr(6,9);
            document.getElementById('actninputdatez').value= arg6;
            document.getElementById('actngroupcdz').value= arg7;
            document.getElementById('actnmemoz').value= arg8;
            document.getElementById('actnflagz').value= arg9;
            if(arg9 =="Y"){
                document.getElementById('actnflagz').checked = true
            }else{ 
                document.getElementById('actnflagz').checked = false
            }

            var wfile_data = [];
            $.ajax({
                    url: '/appadmod/flist',
                    type:"POST",
                    data: {
                        "actnseqz"     : arg1,
                        "actnflagz"     : "NN",
                    },
                    async:false,
                    success:function(data){
                        var wfileDto  = data;
                        var cnt = 0;
                        if(wfileDto.length > 0){
                            for (var i = 0; i < wfileDto.length; i++) {
                                // wfile_data.push({
                                //     id: i,
                                //     index: cnt,
                                //     idx: wfileDto[i]["idx"],
                                //     boardIdx: wfileDto[i]["boardIdx"],
                                //     originalName: wfileDto[i]["originalName"],
                                // });
                                    var  id = i;
                                    var  idx = wfileDto[i]["idx"];
                                    var  boardIdx = wfileDto[i]["boardIdx"];
                                    var  originalName = wfileDto[i]["originalName"];

                                const fileHtml = `
                                <div data-name="fileDiv" class="form-group filebox bs3-primary">
                                    <div class="table table_style3">
                                        <table>
                                            <tr>
                                                <th style="width: 7%;">첨부파일</th>
                                                <td colspan="5">
                                                    <div class="col-sm-15">
                                                        <input type="hidden" name="fileIdxs" value="${idx}" />
                                                        <input type="text" class="upload-name" value="${originalName}" readonly />

                                                        <button type="button" onclick="deleteFile(this, ${idx},  ${boardIdx})" class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
                                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                `;
                                $('#btnDiv').before(fileHtml);

                                cnt++;
                            }
                        } else{
                            const fileHtml = `  `;
                            $('#btnDiv').before(fileHtml);
                        }
                    },error:function(e){

                    }
                }).done(function(fragment){

                })

        }


    }
   

    </script>

    <!------footer ------>
    <footer th:replace="layouts/APPHeader/appfooter :: footerFragment"></footer> 

 
    
</body>
</html>