<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="leftNavComm">
  <ul class="pnav">
    

    <li>
      <button type="button"><img th:src="@{/assets/images/header_icon7.png}" alt=""></button>
      <div class="depth2">
        <div class="dep_main">
          <a href="">
            <button type="button">
              고객지원
            </button>
          </a>
        </div>
        <ul>
          <li><a th:href="@{/app01/index140}"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>간편주문</a></li>
          <li><a id="index15Link"  th:href="@{/app01/index150b}"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>일반주문</a></li>
          <li><a th:href="@{/app01/index141}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>주문현황</a></li> 
          <li><a th:href="@{/app01/index142}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>예약현황</a></li>  
          <li><a th:href="@{/app01/index143}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>사원별매출현황</a></li>          
        </ul>
      </div>
    </li>
    <li>
      <button type="button"><img th:src="@{/assets/images/check_on.png}" alt=""></button>
      <div class="depth2 on">
          <div class="dep_main">   
              <button id="logout" onclick="logout()">
                  로그아웃
              </button>  
          </div> 
      </div>
  </li> 

  </ul>
</th:block>

<script> 
  $(document).ready(function() { 
      set_init() 
  })
  function set_init(){ 
        lsUserid = window.localStorage.getItem("userid");
        lsMflag = window.localStorage.getItem("flag");
        lsRole = window.localStorage.getItem("role");
        lsPerid = window.localStorage.getItem("perid");
      var params = new URLSearchParams();
      params.append('userid', lsUserid)
      params.append('flag', lsMflag)
      params.append('role', lsRole)
      params.append('perid', lsPerid)
      var link_15 = document.getElementById('index15Link');
      link_15.href += "?" + params.toString();
  }    
  function logout(){   
      if (!confirm("로그아웃하시겠습니까?") ){
        return    
      }
      localStorage.removeItem("perid");
      localStorage.removeItem("pernm");
      localStorage.removeItem("userid");
      localStorage.removeItem("flag");
      localStorage.removeItem("custnm") ;
      location.href = "/" ;
  }  
</script>
</html>
