<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="leftNavComm">
  <ul class="nav">
    <!-- <li>
      <button type="button"><img th:src="@{/assets/images/header_icon1.png}" alt=""></button>
      <div class="depth2">
        <div class="dep_main">
          <a href="">
            <button type="button">
              이인옵틱수주시스템
            </button>
          </a>
        </div>
      </div>
    </li>  -->

    <li>
      <button type="button"><img th:src="@{/assets/images/header_icon7.png}" alt=""></button>
      <div class="depth2">
        <div class="dep_main">
          <a href="">
            <button type="button">
              관리자화면
            </button>
          </a>
        </div>
        <ul>
          <li><a th:href="@{/app01/index01}"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>기초코드</a></li>
          <li><a th:href="@{/app01/index02}"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>거래처등록</a></li>
          <li><a th:href="@{/app01/index03}"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>품목등록</a></li>          
          <li><a th:href="@{/admin/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>본사사용자관리</a></li>
          <li><a th:href="@{/admin/index02}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>거래처관리</a></li>
          <li><a th:href="@{/admin/index04}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>영업사원관리</a></li>
          <li><a th:href="@{/admin/index03}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>사용자별접속정보</a></li>

        </ul>
      </div>
    </li>
    <li>
      <button type="button"><img th:src="@{/assets/images/check_on.png}" alt=""></button>
      <div class="depth2 on">
          <div class="dep_main">   
              <button id="logout" onclick="logout()">
                  로그아웃
              </button>  
          </div> 
      </div>
  </li> 
  </ul>
</th:block>

<script>

  function logout(){   
                    if (!confirm("로그아웃하시겠습니까?") ){
                    return    
                    }
                    location.href = "/" ;
            }  
</script>
</html>
