<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/XRegister/head :: headFragment" />


<!-- ===============================================-->
<!--    Favicons   th:src="@{/assets/img/team/25.jpg}"    -->  
<!-- ===============================================-->
<link rel="apple-touch-icon" sizes="180x180" th:href="@{/assetsfalcon/img/favicons/apple-touch-icon.png}">
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/assetsfalcon/img/favicons/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assetsfalcon/img/favicons/favicon-16x16.png}">
<link rel="shortcut icon" type="image/x-icon" th:href="@{/assetsfalcon/img/favicons/favicon.ico}">
<link rel="manifest" th:href="@{/assetsfalcon/img/favicons/manifest.json}">
<meta name="msapplication-TileImage" content="@{/assetsfalcon/img/favicons/mstile-150x150.png}">
<meta name="theme-color" content="#ffffff">
<script th:src="@{/assetsfalcon/js/config.js}"></script>
<script th:src="@{/vendors/overlayscrollbars/OverlayScrollbars.min.js}"></script>


<!-- ===============================================-->
<!--    Stylesheets-->
<!-- ===============================================-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
<link th:href="@{/vendors/overlayscrollbars/OverlayScrollbars.min.css}" rel="stylesheet">
<link th:href="@{/assetsfalcon/css/theme-rtl.min.css}" rel="stylesheet" id="style-rtl">
<link th:href="@{/assetsfalcon/css/theme.min.css}" rel="stylesheet" id="style-default">
<link th:href="@{/assetsfalcon/css/user-rtl.min.css}" rel="stylesheet" id="user-style-rtl">
<link th:href="@{/assetsfalcon/css/user.min.css}" rel="stylesheet" id="user-style-default">
<body  >
 
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
     
          <!-- <div class="head_tit">
            <h1>이안옵틱 수주시스템</h1>
          </div> -->
           
            <main class="main" id="top">
              <div class="container" data-layout="container">
                <script>
                  var isFluid = JSON.parse(localStorage.getItem('isFluid'));
                  if (isFluid) {
                    var container = document.querySelector('[data-layout]');
                    container.classList.remove('container');
                    container.classList.add('container-fluid');
                  }
                </script>
                <div class="row flex-center min-vh-100 py-6">
                  <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                      <a class="d-flex flex-center mb-4" href="#"><img class="me-2" src="/images/logo.png" alt="" width="138" /> </a>
                    <div class="card">
                      <div class="card-body p-4 p-sm-5">
                        <div class="row flex-between-center mb-2">
                          <div class="col-auto">
                            <h5>Log in</h5>
                          </div>
                          <!-- <div class="col-auto fs--1 text-600"><span class="mb-0 undefined">or</span> <span><a href="../../../pages/authentication/simple/register.html">Create an account</a></span></div> -->
                        </div>
                        
                        <form action="/login" method="POST">
                          <div class="input_wrap"> 
                            <select name="select" id="select" class="select">
                              <option value="BB">고객사용자</option>
                              <option value="CC">영업사원</option>  
                            </select> 
                          </div> 
                          <div class="input_wrap icon i_id">
                            <input type="text" id="loginid" name="loginid">
                            <input type="hidden" id="ipaddr" name="ipaddr">
                          </div>
                          <div class="input_wrap icon i_pw">
                            <input type="password" id="logpass" name="logpass">
                          </div> 
                          
                          <div class="mb-3">
                            <button class="btn btn-primary d-block w-100 mt-3" type="button" id="login_btn" name="login_btn">Log in</button>
                          </div>
 

                          </div> 
                          <div class="mb-3">
                            <div th:if="${loginErrorMsg}" class="alert alert-warning border-2 d-flex align-items-center"
                                role="alert">
                              <div class="bg-warning me-3 icon-item"><span
                                      class="fas fa-exclamation-circle text-white fs-3"></span></div>
                              <p class="mb-0 flex-1" th:text="${loginErrorMsg}">Incorrent data</p>
                            </div>
                          </div>
                        </form> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
<script>

      window.onload = function() {  
        getIpClient();
      }

      async function getIpClient() {
        try {
          const response = await axios.get('https://api.ipify.org?format=json');
          document.getElementById('ipaddr').value = response.data.ip;
          // console.log(response.data.ip);
          // console.log("----");
        } catch (error) {
          console.error(error);
        }
      }

        


      var btn_obj = document.getElementById('login_btn');
      btn_obj.addEventListener("click",function(){
        
          //TB_FPLAN_WORK TB_FPLAN_W010  SAVE
          var ls_loginid   = document.getElementById('loginid').value;
          var ls_logpass   = document.getElementById('logpass').value;
          var ls_ipaddr    = document.getElementById('ipaddr').value;
          var ls_select  = document.getElementById('select').value;
          var ls_actcustcdz = "EEAN" ; //document.getElementById('actcustcdz').value;
          $.ajax({
              url: '/authcrud/login',
              type:"POST",
              data: {
                  "loginid"    : ls_loginid ,
                  "logpass"  : ls_logpass,
                  "ipaddr"  : ls_ipaddr,
                  "flag"    : ls_select 
              },
              async:false,
              success:function(userFormDto){

                var ListDto = userFormDto;
                var ls_userid = userFormDto["userid"]
                var ls_username = userFormDto["username"]
                var ls_cltcd= userFormDto["cltcd"]
                var ls_dbnm = userFormDto["dbnm"]
                var ls_flag = userFormDto["flag"]
                //var ls_url = 'userid=' + ls_userid +'&username=' + ls_username +'&cltcd=' + ls_cltcd +'&dbnm=' + ls_dbnm +'&flag=' + ls_flag;
                var ls_url = 'userid=' + ls_userid
                var ls_useyn = userFormDto["useyn"]
                var ls_wrongnum = userFormDto["wrongnum"]
                window.localStorage.setItem("perid",  userFormDto["perid"])
                window.localStorage.setItem("pernm",  userFormDto["pernm"])
                window.localStorage.setItem("custnm",  userFormDto["custnm"])
                if(userFormDto == "" || userFormDto == null){
                  alert("사용자 구분을 확인하세요.");
                  return false;
                }

                if(ls_wrongnum == 3 || ls_useyn == "N"){
                  wrongPasswd();
                }else{
                  insertLogin();
                if(ls_select == "CC"){
                   window.location.href = '/app01/index140m';
                }else{
                   window.location.href = '/app01/index150m'; 
                }
                  // if(data == "success"){
                  //     alert("등록 되었습니다.");
                  //     var ls_text = "<div style='color:red'><span class='badge badge-soft-danger'>가입되었습니다.</span></div>";
                  // }else{
                  //     alert("등록오류");
                  //     var ls_text = "<div style='color:red'><span class='badge badge-soft-info'>가입실패</span></div>";
                  // }
                  // statusdis_div.innerHTML  = ls_text;
                }

              },error:function(e){
                  wrongPasswd();
              }
          }).done(function(fragment){

          })

     })

     function insertLogin(){
      console.log("insertlogin start");
      var ls_loginid   = document.getElementById('loginid').value;
      var ls_logpass   = document.getElementById('logpass').value;
      var ls_ipaddr    = document.getElementById('ipaddr').value;
      console.log(ls_loginid, ls_logpass, ls_ipaddr);

      $.ajax({
        url: '/authcrud/loginlog',
        type:"POST",
        data: {
              "loginid" : ls_loginid,
              "logpass" : ls_logpass,
              "ipaddr"  : ls_ipaddr
        },
        async:false,
        success:function(){
          console.log('success');
        }
      });
     }

     function wrongPasswd(){
        console.log("wrongPasswd start");
        var ls_loginid   = document.getElementById('loginid').value;
        var ls_logpass   = document.getElementById('logpass').value;

        $.ajax({
        url: '/authcrud/wrongpasswd',
        type:"POST",
        data: {
              "loginid" : ls_loginid,
              "logpass" : ls_logpass
        },
        async:false,
        success:function(userFormDto){
          var ListDto = userFormDto;
          var ls_wrongnum = userFormDto["wrongnum"];
          var ls_useyn = userFormDto["useyn"];

          if(ls_wrongnum < 3 && ls_useyn == "Y"){
            alert("비밀번호를 "+ls_wrongnum+"회 틀렸습니다. 로그인 3회 실패 시 사용 중지됩니다.");
          }else{
            if(userFormDto == "null"){
              alert("등록되지 않은 사용자입니다.")
            }else {
              alert("사용 중지된 계정입니다. 관리자에게 문의하세요.");
              console.log(userFormDto);
            }
          }
        }
      });
     }



</script>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<footer th:replace="layouts/XRegister/footer :: footerFragment"></footer>
</body>

</html>