<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/XRegister/head :: headFragment" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>이안옵틱</title>
    <!-- falcon--> 
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assetsfalcon/img/favicons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assetsfalcon/img/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assetsfalcon/img/favicons/favicon-16x16.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assetsfalcon/img/favicons/favicon.ico}">
    <link rel="manifest" th:href="@{/assetsfalcon/img/favicons/manifest.json}">
    <meta name="msapplication-TileImage" th:content="@{/assetsfalcon/img/favicons/mstile-150x150.png}">
    <meta name="theme-color" content="#ffffff">
 
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link th:href="@{/vendors/prism/prism-okaidia.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">    
    <link th:href="@{/assetsfalcon/css/theme-rtl.min.css}" rel="stylesheet" id="style-rtl">
    <link th:href="@{/assetsfalcon/css/theme.min.css}" rel="stylesheet" id="style-default">
    <link th:href="@{/assetsfalcon/css/user-rtl.min.css}" rel="stylesheet" id="user-style-rtl">
    <link th:href="@{/assetsfalcon/css/user.min.css}" rel="stylesheet" id="user-style-default">  

<!-- <body style="background: url(/images/bg1.png) center center; background-size: cover;"> -->
<!-- 
<div class="content main">

  <div class="box_con_wrap"> 
    <div class="box_con" >   
      <div class="logo">
        <a th:href="@{/auth/admin}">
          <img src="/images/logo.png" alt="">
        </a>
      </div>
      <div class="login">
        <div class="tit">Login</div>
        <form action="/login" method="POST"> 
          <div class="input_wrap icon i_id">
            <input type="text" id="loginid" name="loginid">
            <input type="hidden" id="ipaddr" name="ipaddr">
          </div>
          <div class="input_wrap icon i_pw">
            <input type="password" id="logpass" name="logpass">
          </div>
          <div class="account">
            <div class="save_id">
              <input type="checkbox" id="card-checkbox" checked="checked">
              <label for="save_id" class="check_style1">ID 저장</label>
            </div> 
          </div>
          <div class="login_btn">
            <div class="btn_wrap">
              <button type="button" id="login_btn" name="login_btn">Login</button>
            </div>


          </div> 
          <div class="mb-3">
            <div th:if="${loginErrorMsg}" class="alert alert-warning border-2 d-flex align-items-center"
                 role="alert">
              <div class="bg-warning me-3 icon-item"><span
                      class="fas fa-exclamation-circle text-white fs-3"></span></div>
              <p class="mb-0 flex-1" th:text="${loginErrorMsg}">Incorrent data</p>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div> -->
<body>


    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>
        <div class="row flex-center min-vh-100 py-6">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4"><a class="d-flex flex-center mb-4"><span class="font-sans-serif fw-bolder fs-5 d-inline-block">EEAN Optic</span></a>
            <div class="card">
              <div class="card-body p-4 p-sm-5">
                <div class="row flex-between-center mb-2">
                  <div class="col-auto">
                    <h5>Log in</h5>
                  </div>
                  <!-- <div class="col-auto fs--1 text-600"><span class="mb-0 undefined">or</span> <span><a href="../../../pages/authentication/simple/register.html">Create an account</a></span></div> -->
                </div>
                <form>
                  <div class="mb-3">
                    <input class="form-control" type="text"  id="loginid" name="loginid" />
                    <input type="hidden" id="ipaddr" name="ipaddr">
                  </div>
                  <div class="mb-3">
                    <input class="form-control" type="password" placeholder="Password" id="logpass" name="logpass" />
                  </div>
                  <div class="row flex-between-center">
                    <div class="col-auto"> 
                      <div class="form-check mb-0">
                        <input class="form-check-input" type="checkbox" id="basic-checkbox" checked="checked" />
                        <!-- <label class="form-check-label mb-0" for="basic-checkbox">Remember me</label> -->
                      </div>
                    </div>
                    <!-- <div class="col-auto"><a class="fs--1" href="../../../pages/authentication/simple/forgot-password.html">Forgot Password?</a></div> -->
                  </div>
                  <div class="mb-3">
                    <button class="btn btn-primary d-block w-100 mt-3" type="button" id="login_btn" name="login_btn">Log in</button>
                    <!-- <button type="button" id="login_btn" name="login_btn">Login</button> -->
                  </div>
                </form>
                <div class="position-relative mt-4">
                  <hr class="bg-300" />
                  <!-- <div class="divider-content-center">or log in with</div> -->
                </div>
                <div class="mb-3">                  
                  서울 강동구 양재대로 85길 17(성내동 만성재빌딩) 2,3,4층
                </div>
                <div class="mb-3">
                  <a class="d-flex flex-center mb-4"><img class="me-2" src="/images/logo.png" alt="" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




<script>
      var lsFlag = "";
      var lsUserid  = "";
      var lsUserpw  = "";
      window.onload = function() {  
        getIpClient();
      }

      function getIpClient() {
        // try {
        //   const response = await axios.get('https://api.ipify.org?format=json');
        //   document.getElementById('ipaddr').value = response.data.ip;
        //   // console.log(response.data.ip);
        //   // console.log("----");
        // } catch (error) {
        //   console.error(error);
        // }
        
        lsUserid = window.localStorage.getItem("userid") 
        lsUserpw = window.localStorage.getItem("userpw") 
        if(lsUserid == null || lsUserid.length == 0 || lsUserid == "" || lsUserid =="undefined"){ 
          lsUserid = '';            
        }   
        //document.getElementById('select').value = lsFlag
        document.getElementById('loginid').value = lsUserid
        document.getElementById('logpass').value = lsUserpw
        
      }

        


      var btn_obj = document.getElementById('login_btn');
      btn_obj.addEventListener("click",function(){
        
          //TB_FPLAN_WORK TB_FPLAN_W010  SAVE
          var ls_loginid   = document.getElementById('loginid').value;
          var ls_logpass   = document.getElementById('logpass').value;
          var ls_ipaddr    = document.getElementById('ipaddr').value;
          var ls_select  = 'FF'; //document.getElementById('select').value;
          var ls_actcustcdz = "EEAN" ; //document.getElementById('actcustcdz').value; 
          $.ajax({
              url: '/authcrud/login',
              type:"POST",
              data: {
                  "loginid"    : ls_loginid ,
                  "logpass"  : ls_logpass,
                  "ipaddr"  : ls_ipaddr,
                  "flag"    : ls_select 
              },
              async:false,
              success:function(data){
                if (data == "error"){
                    alert("사용자를 찾을 수 없습니다.")
                }else{
                  userFormDto = data
                }
                var ListDto = userFormDto;
                var ls_userid = userFormDto["userid"]
                var ls_username = userFormDto["username"]                
                var ls_cltcd= userFormDto["cltcd"]
                var ls_dbnm = userFormDto["dbnm"]
                var ls_flag = userFormDto["flag"]
                
                //var ls_url = 'userid=' + ls_userid +'&username=' + ls_username +'&cltcd=' + ls_cltcd +'&dbnm=' + ls_dbnm +'&flag=' + ls_flag;
                var ls_url = 'userid=' + ls_userid
                var ls_useyn = userFormDto["useyn"]
                var ls_wrongnum = userFormDto["wrongnum"]
                localStorage.removeItem('perid');
                localStorage.removeItem('pernm');
                localStorage.removeItem('userid');
                localStorage.removeItem('username');
                localStorage.removeItem('flag');
                localStorage.removeItem('custnm');
                localStorage.removeItem('role');
                localStorage.removeItem('rnum');
                localStorage.removeItem('userpw');

                window.localStorage.setItem("perid" + '_' + ls_flag,  userFormDto["perid"])
                window.localStorage.setItem("pernm" + '_' + ls_flag,  userFormDto["pernm"])
                window.localStorage.setItem("userid" + '_' + ls_flag,  userFormDto["userid"])
                window.localStorage.setItem("username" + '_' + ls_flag,  userFormDto["username"]) 
                window.localStorage.setItem("flag" + '_' + ls_flag,  userFormDto["flag"])
                window.localStorage.setItem("custnm" + '_' + ls_flag,  userFormDto["custnm"])
                window.localStorage.setItem("role" + '_' + ls_flag,  userFormDto["role"])
                window.localStorage.setItem("rnum" + '_' + ls_flag,  userFormDto["rnum"])
                window.localStorage.setItem("userpw" + '_' + ls_flag, ls_logpass) 

                if(ls_wrongnum == 3 || ls_useyn == "N"){
                  wrongPasswd();
                }else{
                  insertLogin(); 
                  // console.log("ls_flag-->" + ls_flag)
                    if(ls_flag == 'AA'){
                      window.location.href = '/app01/index14';  
                    }else if(ls_flag =='BB'){
                      window.location.href = '/app01/index150';  
                    }else if(ls_flag =='CC'){
                      window.location.href = '/app01/index140';   
                    }else if(ls_flag =='DD'){
                      window.location.href = '/app01/index20'; 
                    }else{
                      window.location.href = '/auth/emmsdashboard';  
                    }
                    
                
                    if(userFormDto == "" || userFormDto == null){
                      document.getElementById('select').value = lsFlag
                      alert("사용자 구분을 확인하세요.");
                      return false;
                    }
                  // if(data == "success"){
                  //     alert("등록 되었습니다.");
                  //     var ls_text = "<div style='color:red'><span class='badge badge-soft-danger'>가입되었습니다.</span></div>";
                  // }else{
                  //     alert("등록오류");
                  //     var ls_text = "<div style='color:red'><span class='badge badge-soft-info'>가입실패</span></div>";
                  // }
                  // statusdis_div.innerHTML  = ls_text;
                }

              },error:function(e){
                   alert("kkkk")
                  wrongPasswd();
              }
          }).done(function(fragment){

          })

     })

     function insertLogin(){
      // console.log("insertlogin start"); 
      var ls_loginid   = document.getElementById('loginid').value;
      var ls_logpass   = document.getElementById('logpass').value;
      var ls_ipaddr    = document.getElementById('ipaddr').value;
      // console.log(ls_loginid, ls_logpass, ls_ipaddr);

      $.ajax({
        url: '/authcrud/loginlog',
        type:"POST",
        data: {
              "loginid" : ls_loginid,
              "logpass" : ls_logpass,
              "ipaddr"  : ls_ipaddr
        },
        async:false,
        success:function(){
          console.log('success');
        }
      });
     }

     function wrongPasswd(){
        return true
        console.log("wrongPasswd start");
        var ls_loginid   = document.getElementById('loginid').value;
        var ls_logpass   = document.getElementById('logpass').value;

        $.ajax({
        url: '/authcrud/wrongpasswd',
        type:"POST",
        data: {
              "loginid" : ls_loginid,
              "logpass" : ls_logpass
        },
        async:false,
        success:function(userFormDto){
          var ListDto = userFormDto;
          var ls_wrongnum = userFormDto["wrongnum"];
          var ls_useyn = userFormDto["useyn"];

          if(ls_wrongnum < 3 && ls_useyn == "Y"){
            alert("비밀번호를 "+ls_wrongnum+"회 틀렸습니다. 로그인 3회 실패 시 사용 중지됩니다.");
          }else{
            if(userFormDto == "null"){
              alert("등록되지 않은 사용자입니다.")
            }else {
              alert("사용 중지된 계정입니다. 관리자에게 문의하세요.");
              console.log(userFormDto);
            }
          }
        }
      });
     }



</script>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<footer th:replace="layouts/XRegister/footer :: footerFragment"></footer>
</body>

</html>