<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.eean.Mapper.App01.Index11Mapper">
    <select id="GetAsJupsuList01" parameterType="com.dae.eean.DTO.App01.Index11Dto" resultType="com.dae.eean.DTO.App01.Index11Dto">
        <![CDATA[
            select as_key1
                 ,as_key2
                 ,as_date
                 ,as_model
                 ,as_color
                 ,as_suri
                 ,as_yumu
                 ,as_memo
                 ,as_gongjang
                 ,as_acorp
                 ,as_acorp1
                 ,as_acorp2
                 ,as_acorp3
                 ,as_computer
                 ,as_damdang
                 ,as_memo2
                 ,as_memo3
                 ,as_aname
                 ,B.com_REM1 as as_comrem
                 ,as_key4
                 ,Left(as_date2,10) as as_date2
                 ,as_memo3
                 ,as_devflag
                 ,as_devcode
                 ,unsongnum
                 ,misdate
                 ,misnum
                 ,misflag
                 , CONVERT(CHAR(19),as_devdate,20) as as_devdate
            from as_jupsu WITH (NOLOCK)
                LEFT JOIN TB_CA510 B ON com_code <> '00' and com_cls = '002' and com_code=as_jupsu.as_aname
            WHERE as_acorp1 + CAST(as_acorp2 as varchar)  Like concat('%',#{ascode},'%')
            and as_key1 between #{frdate} and #{todate}
            and isnull(as_devflag,'') Like concat('%',#{as_devflag},'%')
            ORDER BY as_key1 desc, as_key2
        ]]>
    </select>

    <select id="GetAsJupsuList02" parameterType="com.dae.eean.DTO.App01.Index11Dto" resultType="com.dae.eean.DTO.App01.Index11Dto">
        <![CDATA[
        select as_key1
             ,as_key2
             ,as_date
             ,as_model
             ,as_color
             ,as_suri
             ,as_yumu
             ,as_memo
             ,as_gongjang
             ,as_acorp
             ,as_acorp1
             ,as_acorp2
             ,as_acorp3
             ,as_computer
             ,as_damdang
             ,as_memo2
             ,trim(as_aname) as as_name
             ,B.com_REM1 as as_comrem
             ,as_key4
             ,Left(as_date2,10) as as_date2
             ,as_memo3
             ,as_devflag
             ,as_devcode
             ,unsongnum
             ,misdate
             ,misnum
             ,misflag
             , CONVERT(CHAR(19),as_devdate,20) as as_devdate
        from as_jupsu WITH (NOLOCK)
             LEFT JOIN TB_CA510 B ON com_code <> '00' and com_cls = '002' and com_code=as_jupsu.as_aname
        WHERE as_acorp1 + CAST(as_acorp2 as varchar)  Like concat('%',#{ascode},'%')
          and as_key1 between #{frdate} and #{todate} and isnull(as_devflag,'0') Like concat('%',#{as_devflag},'%')
        ORDER BY as_key1 desc, as_key2
        ]]>
    </select>

    <select id="GetAsJupsuList03" parameterType="hashmap" resultType="com.dae.eean.DTO.App01.Index11Dto">

        select as_key1
             ,as_key2
             ,as_date
             ,as_model
             ,as_color
             ,as_suri
             ,as_yumu
             ,as_memo
             ,as_gongjang
             ,as_acorp
             ,as_acorp1
             ,as_acorp2
             ,as_acorp3
             ,as_computer
             ,as_damdang
             ,as_memo2
             ,trim(as_aname) as as_name
             ,as_key4
             ,Left(as_date2,10) as as_date2
             ,as_memo3
             ,as_devflag
             ,as_devcode
             ,unsongnum
             ,misdate
             ,misnum
             ,misflag
             , CONVERT(CHAR(19),as_devdate,20) as as_devdate
        from as_jupsu WITH (NOLOCK)
        where  as_key1 + convert(nvarchar(4), as_key2 )   in
            <foreach collection="itemcdArr" item="itemcd"  open="(" close=")" separator=",">
                 #{itemcd}
            </foreach>
         and isnull(as_devflag,'0') = '1'
        ORDER BY as_key1, as_key2

    </select>



</mapper>
