<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.eean.Mapper.App01.Index01Mapper">


    <select id="getComCodeList"  parameterType="com.dae.eean.DTO.App01.Index01Dto" resultType="com.dae.eean.DTO.App01.Index01Dto">
        <![CDATA[
            select com_cls, com_cnam from TB_CA510  where com_code = '00' and isnull(com_cls,'') Like concat('%',#{com_cls},'%') order by com_cls
        ]]>
    </select>

    <insert id="InsertComCode" parameterType="com.dae.eean.DTO.App01.Index01Dto" >
        insert into TB_CA510 (com_cls, com_code, com_cnam ) values
        (#{com_cls}, '00', #{com_cnam})
    </insert>

    <update id="UpdateComCode" parameterType="com.dae.eean.DTO.App01.Index01Dto">
        UPDATE  TB_CA510 SET com_cnam = #{com_cnam} where com_cls   = #{com_cls} and com_code = '00'
    </update>

    <update id="DeleteComCode" parameterType="com.dae.eean.DTO.App01.Index01Dto">
        DELETE  TB_CA510   where com_cls  = #{com_cls}
    </update>

    <select id="GetComcodeDetailList"  parameterType="com.dae.eean.DTO.App01.Index01Dto" resultType="com.dae.eean.DTO.App01.Index01Dto">
        <![CDATA[
            select * from TB_CA510  where com_code <> '00' and com_cls = #{com_cls}
        ]]>
    </select>

    <select id="getWperidlist"  parameterType="com.dae.eean.DTO.App01.Index01Dto" resultType="com.dae.eean.DTO.App01.Index01Dto">
        <![CDATA[
            select
                userid as insano, custnm as inname
             from TB_XUSERS  where  FLAG = 'DD' ORDER BY PERNM
        ]]>
    </select>


    <select id="getAsyumulist"  parameterType="com.dae.eean.DTO.App01.Index03Dto" resultType="com.dae.eean.DTO.App01.Index03Dto">
        <![CDATA[
                select cast(jchgoga0 as int) as jchgoga0 , jpum from jcode3 where jbonsa_code = 'AS' group by jpum, jchgoga0
        ]]>
    </select>

    <insert id="InsertComCodeDetail" parameterType="com.dae.eean.DTO.App01.Index01Dto" >
        insert into TB_CA510 (com_cls, com_code, com_cnam ,com_rem1, com_rem2, com_work) values
        (#{com_cls}, #{com_code}, #{com_cnam},#{com_rem1}, #{com_rem2},#{com_work})
    </insert>

    <update id="UpdateComCodeDetail" parameterType="com.dae.eean.DTO.App01.Index01Dto">
        <![CDATA[
        UPDATE  TB_CA510 SET com_cnam = #{com_cnam} , com_rem1 = #{com_rem1} , com_rem2 = #{com_rem2} , com_work = #{com_work} , com_code = #{com_code}
        where com_cls  = #{com_cls} and com_cnam = #{com_cnam} and com_code = #{com_code} and com_code <> '00'
        ]]>
    </update>

    <update id="DeleteComCodeDetail" parameterType="com.dae.eean.DTO.App01.Index01Dto">
        <![CDATA[
        DELETE  TB_CA510   where com_cls  = #{com_cls} and com_cnam = #{com_cnam} and com_code = #{com_code} and com_code <> ('00')
        ]]>
    </update>

    <select id="GetComCodeCheck" parameterType="com.dae.eean.DTO.App01.Index01Dto" resultType="String">
        <![CDATA[
        select   com_cls , com_code
        from TB_CA510 WITH (NOLOCK)
        WHERE isnull(com_cls,'')   = #{com_cls}
        and isnull(com_code,'')   = #{com_code}
        ORDER BY com_cls
        ]]>
    </select>

    <select id="GetAsJumsuDataYU" parameterType="com.dae.eean.DTO.App01.Index20Dto" resultType="com.dae.eean.DTO.App01.Index20Dto">
        <![CDATA[
            select   as_key1, as_key2, as_model ,as_color, as_suri, as_yumu,as_memo,as_gongjang,as_acorp,as_acorp1,as_acorp2,as_acorp3, as_acorp1 + CAST(as_acorp2 as varchar) as acode,
                     as_computer,as_damdang,as_memo2,as_aname,as_key4,as_date2,as_memo3, as_devflag, D.jkey, D.jchgoga0, D.jbonsa_code2, D.jmodel_code2, D.jcolor_code, D.jpb_gubn,
                     unsongnum, as_devflag, misflag, misdate, misnum
            from as_jupsu  WITH (NOLOCK)
                 Left outer JOIN JCODE3 D ON as_yumu = D.jpum AND isnull(D.jpb_gubn,'')  Like concat('%',#{jpb_gubn},'%')
            WHERE isnull(as_key1,'')   = #{as_key1}
            and isnull(as_key2,'')   = #{as_key2}

        ]]>
    </select>

    <select id="GetAsJumsuDataMU" parameterType="com.dae.eean.DTO.App01.Index20Dto" resultType="com.dae.eean.DTO.App01.Index20Dto">
        <![CDATA[
            select   as_key1, as_key2, as_model ,as_color, as_suri, as_yumu,as_memo,as_gongjang,as_acorp,as_acorp1,as_acorp2,as_acorp3, as_acorp1 + CAST(as_acorp2 as varchar) as acode,
                     as_computer,as_damdang,as_memo2,as_aname,as_key4,as_date2,as_memo3, as_devflag, '' AS jkey,
                     0 AS jchgoga0, '' AS  jbonsa_code2, 'AS' AS jmodel_code2, '' AS jcolor_code, '' AS jpb_gubn,
                     unsongnum, as_devflag, misflag, misdate, misnum
            from as_jupsu  WITH (NOLOCK)
            WHERE isnull(as_key1,'')   = #{as_key1}
            and isnull(as_key2,'')   = #{as_key2}
        ]]>
    </select>


    <insert id="InsertJupsu" parameterType="com.dae.eean.DTO.App01.Index20Dto" >
        insert into as_jupsu (as_key1, as_key2, as_model ,as_color, as_suri, as_yumu,as_memo,as_gongjang,as_acorp,as_acorp1,as_acorp2,as_acorp3,
                              as_computer,as_damdang,as_memo2,as_aname,as_key4,as_date2,as_memo3, as_devflag) values
            (#{as_key1}, #{as_key2}, #{as_model} , #{as_color}, #{as_suri}, #{as_yumu}, #{as_memo}, #{as_gongjang}, #{as_acorp}, #{as_acorp1}, #{as_acorp2}, #{as_acorp3},
             #{as_computer}, #{as_damdang}, #{as_memo2}, #{as_aname}, #{as_key4}, #{as_date2}, #{as_memo3}, #{as_devflag} )
    </insert>


    <update id="UpdateJupsu" parameterType="com.dae.eean.DTO.App01.Index20Dto">
        <![CDATA[
        UPDATE  as_jupsu SET as_model = #{as_model} , as_color = #{as_color} , as_suri = #{as_suri} , as_yumu = #{as_yumu} , as_gongjang = #{as_gongjang}
                           , as_acorp = #{as_acorp}
                           , as_acorp1 = #{as_acorp1}
                           , as_acorp2 = #{as_acorp2}
                           , as_acorp3 = #{as_acorp3}
                           , as_computer = #{as_computer}
                           , as_damdang = #{as_damdang}
                           , as_memo = #{as_memo}
                           , as_memo2 = #{as_memo2}
                           , as_aname = #{as_aname}
                           , as_memo3 = #{as_memo3}
        where as_key1  = #{as_key1} and as_key2 = #{as_key2}
        ]]>
    </update>


    <update id="UpdateJupsuMisnum" parameterType="com.dae.eean.DTO.App01.Index20Dto">
        <![CDATA[
        UPDATE  as_jupsu SET misdate = '' , misnum = '' , misflag = '0'
         where misdate  = #{misdate} and misnum = #{misnum}
        ]]>
    </update>




    <update id="DeleteJupsu" parameterType="com.dae.eean.DTO.App01.Index20Dto">
        <![CDATA[
        DELETE  as_jupsu   where as_key1  = #{as_key1} and as_key2 = #{as_key2}
        ]]>
    </update>


    <select id="SelectMaxJupsu" parameterType="com.dae.eean.DTO.App01.Index20Dto" resultType="String">
        <![CDATA[  select  max(as_key2)  from as_jupsu where as_key1 = #{as_key1} and Left(as_key2,1) = Left(#{as_rnum},1)     ]]>
    </select>


    <update id="UpdateDevJupsu" parameterType="com.dae.eean.DTO.App01.Index20Dto">
        <![CDATA[
        UPDATE  as_jupsu SET as_devflag = #{as_devflag} , as_devdate =  getdate(), as_date2 =  #{as_date2}, as_devcode = #{as_devcode}
        where as_key1  = #{as_key1} and as_key2 = #{as_key2}
        ]]>
    </update>

    <update id="UpdateMisJupsu" parameterType="com.dae.eean.DTO.App01.Index20Dto">
        <![CDATA[
        UPDATE  as_jupsu SET misdate = #{misdate} , misnum =  #{misnum}, misflag =  #{misflag}
        where as_key1  = #{as_key1} and as_key2 = #{as_key2}
        ]]>
    </update>

    <update id="UpdateDevJupsuUnsong" parameterType="com.dae.eean.DTO.App01.Index20Dto" >
        UPDATE as_jupsu SET
        unsongnum=#{unsongnum} , reservnum =#{reservnum}
        where substring(as_key1, 1,4)+  substring(as_key1, 6,2)+  substring(as_key1, 9,2)  = #{as_key1}
          and as_key2 = #{as_key2}
          and as_acorp1 + CAST(as_acorp2 as varchar) = #{as_acorp1}
    </update>
</mapper>
