<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.eean.Mapper.App01.Index14Mapper">



    <select id="SelectCheckMisnum" parameterType="com.dae.eean.DTO.App01.IndexDa023Dto" resultType="String">
        <![CDATA[  select top 1 misnum  from tb_da023 where misdate = #{misdate} and cltcd=#{cltcd} and misgubun = #{misgubun}  order by misdate, misnum     ]]>
    </select>

    <select id="SelectCheckMisnumOrd" parameterType="com.dae.eean.DTO.App01.IndexDa023Dto" resultType="String">
        <![CDATA[  select top 1 misnum  from tb_da023 where misdate = #{omisdate} and cltcd=#{cltcd} and misgubun = #{misgubun}  order by misdate, misnum     ]]>
    </select>

    <select id="SelectCheckMisnumWish" parameterType="com.dae.eean.DTO.App01.IndexDa023Dto" resultType="String">
        <![CDATA[  select top 1 misnum  from tb_da025 where misdate = #{misdate} and cltcd=#{cltcd}  and misgubun = #{misgubun}    order by misdate, misnum     ]]>
    </select>

    <select id="SelectMaxMisnum" parameterType="com.dae.eean.DTO.App01.IndexDa023Dto" resultType="String">
        <![CDATA[  select  max(misnum)  from tb_da023 where misdate = #{misdate}    and misgubun = #{misgubun}    ]]>
    </select>

    <select id="SelectMaxMisnumWish" parameterType="com.dae.eean.DTO.App01.IndexDa023Dto" resultType="String">
        <![CDATA[  select  max(misnum)  from tb_da025 where misdate = #{misdate}   and misgubun = #{misgubun}    ]]>
    </select>

    <select id="SelectMaxSeq" parameterType="com.dae.eean.DTO.App01.IndexDa023Dto" resultType="String">
        <![CDATA[  select  max(seq)  from tb_da024 where misdate = #{misdate} and misnum = #{misnum} and cltcd = #{cltcd}    ]]>
    </select>

    <select id="SelectMaxSeqWish" parameterType="com.dae.eean.DTO.App01.IndexDa023Dto" resultType="String">
        <![CDATA[  select  max(seq)  from tb_da026 where misdate = #{misdate} and misnum = #{misnum} and cltcd = #{cltcd}    ]]>
    </select>

    <select id="SelectDa026Detail" parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" resultType="com.dae.eean.DTO.App01.IndexDa024Dto">
        <![CDATA[  select omisdate , omisnum , oseq , misdate, misnum, seq, cltcd, misgubun
                   from tb_da026 WITH (NOLOCK)
                   where misdate = #{misdate} and misnum = #{misnum}
                   and cltcd = #{cltcd} and misgubun = #{misgubun}    ]]>
    </select>

    <select id="SelectDa024List"  parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" resultType="com.dae.eean.DTO.App01.IndexDa024Dto">
        <![CDATA[ select B.cltcd as cltcd, Left(B.misdate,4) + '-' + substring(B.misdate, 5,2)+ '-' + substring(B.misdate, 7,2) as misdate, B.misnum, B.seq,
                         B.pcode, B.pname, B.psize,    B.punit,  B.qty,  B.uamt, B.samt, B.addamt,
                         B.amt, A.acorp, pbonsa, pmodel, pcolor , D.inname, B.misgubun, isnull(B.fixflag,'0') as fixflag, D.inname as pernm
           from  TB_DA024 B WITH (NOLOCK) , cif A WITH (NOLOCK) ,
                 TB_DA023 C WITH (NOLOCK) Left outer JOIN INSA D ON C.perid = D.insano
           where B.misdate + B.misnum = C.misdate + C.misnum AND B.misgubun = C.misgubun
             AND isnull(C.delflag, '') <> 'Y'
             AND B.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
             AND C.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
            AND A.acorp1 + CAST(A.acorp2 as varchar) Like concat('%',#{cltcd},'%')
             AND isnull(C.perid,'')  Like concat('%',#{perid},'%')
             AND isnull(B.misgubun,'')  Like concat('%',#{misgubun},'%')
            AND B.misdate between #{frdate} and #{todate}
            AND Isnull(B.fixflag, '') Like concat('%',#{fixflag},'%')
            ORDER BY B.misdate, B.misnum, B.seq
        ]]>

    </select>


    <select id="SelectDa024ListPrt"  parameterType="hashmap"  resultType="com.dae.eean.DTO.App01.IndexDa024Dto">
          select B.cltcd as cltcd,  substring(B.misdate, 5,2)+ '.' + substring(B.misdate, 7,2) as misdate, B.misnum, B.seq,
                         substring(B.misdate, 1,4)+ '년 ' + substring(B.misdate, 5,2)+ '월 ' + substring(B.misdate, 7,2) + '일' as misdatetxt,
                         B.pcode, B.pname, B.psize,    B.punit,  B.qty,  B.uamt, B.samt, B.addamt,
                         B.amt, A.acorp, pbonsa, pmodel, pcolor , D.inname, B.misgubun, isnull(B.fixflag,'0') as fixflag, D.inname as pernm,
                         ROW_NUMBER() OVER(ORDER BY (SELECT 1)) AS rownum,
                         A.acorp, A.asano1 + '-' + A.asano2 + '-' + A.asano3 as asano, A.aname, A.aupte, A.ajong, A.ajuso1 + ' ' + A.ajuso2 as ajuso, A.atelno,
                         F.acorp as eeacorp, F.asano as eeasano, F.aname as eeaname, F.aupte as eeupte, F.ajong as eeajong, F.ajuso as eeajuso, F.atelno as eeatelno
           from  TB_DA024 B WITH (NOLOCK) , cif A WITH (NOLOCK) ,
                 TB_DA023 C WITH (NOLOCK) Left outer JOIN INSA D ON C.perid = D.insano ,
                 ( select acorp, atelno, asano1 + '-' + asano2 + '-' + asano3 as asano, aname, aupte, ajong, ajuso1 + ' ' + ajuso2 as ajuso
                    from cif where acorp1 + acorp2 + acorp3 = '0000' ) F
           where B.misdate + B.misnum = C.misdate + C.misnum AND B.misgubun = C.misgubun
             AND B.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
             AND C.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
            AND B.misdate + B.misnum + B.seq + B.cltcd in
                <foreach collection="itemcdArr" item="itemcd"  open="(" close=")" separator=",">
                  #{itemcd}
                </foreach>
            AND B.fixflag = '1'
            ORDER BY B.misdate, B.misnum, B.seq
    </select>


    <select id="SelectDa026List"  parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" resultType="com.dae.eean.DTO.App01.IndexDa024Dto">
        <![CDATA[ select B.cltcd as cltcd, Left(B.misdate,4) + '-' + substring(B.misdate, 5,2)+ '-' + substring(B.misdate, 7,2) as misdate, B.misnum, B.seq,
                         B.pcode, B.pname, B.psize,    B.punit,  B.qty,  B.uamt, B.samt, B.addamt,
                         B.amt, A.acorp, pbonsa, pmodel, pcolor, D.inname, B.misgubun, isnull(B.fixflag,'0') as fixflag, D.inname as pernm,
                         B.omisdate, B.omisnum, B.oseq
           from  TB_DA026 B WITH (NOLOCK) , cif A WITH (NOLOCK) ,
                 TB_DA025 C WITH (NOLOCK)  Left outer JOIN INSA D ON C.perid = D.insano
           where B.misdate + B.misnum = C.misdate + C.misnum AND B.misgubun = C.misgubun
             AND isnull(C.delflag, '') <> 'Y'
             AND B.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
             AND C.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
            AND A.acorp1 + CAST(A.acorp2 as varchar) Like concat('%',#{cltcd},'%')
             AND isnull(C.perid,'')  Like concat('%',#{perid},'%')
            AND B.misdate between #{frdate} and #{todate}
             AND isnull(B.misgubun,'')  Like concat('%',#{misgubun},'%')
             AND Isnull(B.fixflag, '') Like concat('%',#{fixflag},'%')
            ORDER BY B.misdate, B.misnum, B.seq
        ]]>

    </select>


    <select id="SelectDa024ListPerid"  parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" resultType="com.dae.eean.DTO.App01.IndexDa024Dto">
        <![CDATA[ select B.cltcd as cltcd, Left(B.misdate,4) + '-' + substring(B.misdate, 5,2)+ '-' + substring(B.misdate, 7,2) as misdate, B.misnum, B.seq,
                         B.pcode, B.pname, B.psize,    B.punit,  B.qty,  B.uamt, B.samt, B.addamt,
                         B.amt, A.acorp, pbonsa, pmodel, pcolor , D.inname, B.misgubun, isnull(B.fixflag,'0') as fixflag, D.inname as pernm
           from  TB_DA024 B WITH (NOLOCK) , cif A WITH (NOLOCK) ,
                 TB_DA023 C WITH (NOLOCK) Left outer JOIN INSA D ON C.perid = D.insano
           where B.misdate + B.misnum = C.misdate + C.misnum AND B.misgubun = C.misgubun
             AND isnull(C.delflag, '') <> 'Y'
             AND B.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
             AND C.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
            AND A.acorp1 + CAST(A.acorp2 as varchar) Like concat('%',#{cltcd},'%')
             AND isnull(C.perid,'')  Like concat('%',#{perid},'%')
             AND isnull(B.misgubun,'')  Like concat('%',#{misgubun},'%')
            AND B.misdate between #{frdate} and #{todate}
            AND Isnull(B.fixflag, '') Like concat('%',#{fixflag},'%')
            ORDER BY C.perid,  B.misdate, B.misnum, B.seq
        ]]>

    </select>


    <select id="SelectDa024ListCltcd"  parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" resultType="com.dae.eean.DTO.App01.IndexDa024Dto">
        <![CDATA[ select B.cltcd as cltcd, Left(B.misdate,4) + '-' + substring(B.misdate, 5,2)+ '-' + substring(B.misdate, 7,2) as misdate, B.misnum, B.seq,
                         B.pcode, B.pname, B.psize,    B.punit,  B.qty,  B.uamt, B.samt, B.addamt,
                         B.amt, A.acorp, pbonsa, pmodel, pcolor , D.inname, B.misgubun, isnull(B.fixflag,'0') as fixflag, D.inname as pernm
           from  TB_DA024 B WITH (NOLOCK) , cif A WITH (NOLOCK) ,
                 TB_DA023 C WITH (NOLOCK) Left outer JOIN INSA D ON C.perid = D.insano
           where B.misdate + B.misnum = C.misdate + C.misnum AND B.misgubun = C.misgubun
             AND isnull(C.delflag, '') <> 'Y'
             AND B.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
             AND C.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
            AND A.acorp1 + CAST(A.acorp2 as varchar) Like concat('%',#{cltcd},'%')
             AND isnull(C.perid,'')  Like concat('%',#{perid},'%')
             AND isnull(B.misgubun,'')  Like concat('%',#{misgubun},'%')
            AND B.misdate between #{frdate} and #{todate}
            AND Isnull(B.fixflag, '') Like concat('%',#{fixflag},'%')
            ORDER BY B.cltcd,  B.misdate, B.misnum, B.seq
        ]]>

    </select>


    <select id="SelectDa024ListJpum"  parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" resultType="com.dae.eean.DTO.App01.IndexDa024Dto">
        <![CDATA[ select B.cltcd as cltcd, Left(B.misdate,4) + '-' + substring(B.misdate, 5,2)+ '-' + substring(B.misdate, 7,2) as misdate, B.misnum, B.seq,
                         B.pcode, B.pname, B.psize,    B.punit,  B.qty,  B.uamt, B.samt, B.addamt,
                         B.amt, A.acorp, pbonsa, pmodel, pcolor , D.inname, B.misgubun, isnull(B.fixflag,'0') as fixflag, D.inname as pernm
           from  TB_DA024 B WITH (NOLOCK) , cif A WITH (NOLOCK) ,
                 TB_DA023 C WITH (NOLOCK) Left outer JOIN INSA D ON C.perid = D.insano
           where B.misdate + B.misnum = C.misdate + C.misnum AND B.misgubun = C.misgubun
             AND isnull(C.delflag, '') <> 'Y'
             AND B.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
             AND C.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
            AND A.acorp1 + CAST(A.acorp2 as varchar) Like concat('%',#{cltcd},'%')
             AND isnull(B.pcode,'')  Like concat('%',#{pcode},'%')
             AND isnull(B.misgubun,'')  Like concat('%',#{misgubun},'%')
            AND B.misdate between #{frdate} and #{todate}
            AND Isnull(B.fixflag, '') Like concat('%',#{fixflag},'%')
            ORDER BY B.pcode,  B.misdate, B.misnum, B.seq
        ]]>

    </select>


    <select id="SelectDa026ListPerid"  parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" resultType="com.dae.eean.DTO.App01.IndexDa024Dto">
        <![CDATA[ select B.cltcd as cltcd, Left(B.misdate,4) + '-' + substring(B.misdate, 5,2)+ '-' + substring(B.misdate, 7,2) as misdate, B.misnum, B.seq,
                         B.pcode, B.pname, B.psize,    B.punit,  B.qty,  B.uamt, B.samt, B.addamt,
                         B.amt, A.acorp, pbonsa, pmodel, pcolor, D.inname, B.misgubun, isnull(B.fixflag,'0') as fixflag, D.inname as pernm,
                         B.omisdate, B.omisnum, B.oseq
           from  TB_DA026 B WITH (NOLOCK) , cif A WITH (NOLOCK) ,
                 TB_DA025 C WITH (NOLOCK)  Left outer JOIN INSA D ON C.perid = D.insano
           where B.misdate + B.misnum = C.misdate + C.misnum AND B.misgubun = C.misgubun
             AND isnull(C.delflag, '') <> 'Y'
             AND B.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
             AND C.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
            AND A.acorp1 + CAST(A.acorp2 as varchar) Like concat('%',#{cltcd},'%')
             AND isnull(C.perid,'')  Like concat('%',#{perid},'%')
            AND B.misdate between #{frdate} and #{todate}
             AND isnull(B.misgubun,'')  Like concat('%',#{misgubun},'%')
             AND Isnull(B.fixflag, '') Like concat('%',#{fixflag},'%')
            ORDER BY C.perid,  B.misdate, B.misnum, B.seq
        ]]>

    </select>

    <select id="SelectDa026ListCltcd"  parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" resultType="com.dae.eean.DTO.App01.IndexDa024Dto">
        <![CDATA[ select B.cltcd as cltcd, Left(B.misdate,4) + '-' + substring(B.misdate, 5,2)+ '-' + substring(B.misdate, 7,2) as misdate, B.misnum, B.seq,
                         B.pcode, B.pname, B.psize,    B.punit,  B.qty,  B.uamt, B.samt, B.addamt,
                         B.amt, A.acorp, pbonsa, pmodel, pcolor, D.inname, B.misgubun, isnull(B.fixflag,'0') as fixflag, D.inname as pernm,
                         B.omisdate, B.omisnum, B.oseq
           from  TB_DA026 B WITH (NOLOCK) , cif A WITH (NOLOCK) ,
                 TB_DA025 C WITH (NOLOCK)  Left outer JOIN INSA D ON C.perid = D.insano
           where B.misdate + B.misnum = C.misdate + C.misnum AND B.misgubun = C.misgubun
             AND isnull(C.delflag, '') <> 'Y'
             AND B.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
             AND C.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
            AND A.acorp1 + CAST(A.acorp2 as varchar) Like concat('%',#{cltcd},'%')
             AND isnull(C.perid,'')  Like concat('%',#{perid},'%')
            AND B.misdate between #{frdate} and #{todate}
             AND isnull(B.misgubun,'')  Like concat('%',#{misgubun},'%')
             AND Isnull(B.fixflag, '') Like concat('%',#{fixflag},'%')
            ORDER BY B.cltcd,  B.misdate, B.misnum, B.seq
        ]]>

    </select>

    <select id="SelectDa026ListJpum"  parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" resultType="com.dae.eean.DTO.App01.IndexDa024Dto">
        <![CDATA[ select B.cltcd as cltcd, Left(B.misdate,4) + '-' + substring(B.misdate, 5,2)+ '-' + substring(B.misdate, 7,2) as misdate, B.misnum, B.seq,
                         B.pcode, B.pname, B.psize,    B.punit,  B.qty,  B.uamt, B.samt, B.addamt,
                         B.amt, A.acorp, pbonsa, pmodel, pcolor, D.inname, B.misgubun, isnull(B.fixflag,'0') as fixflag, D.inname as pernm,
                         B.omisdate, B.omisnum, B.oseq
           from  TB_DA026 B WITH (NOLOCK) , cif A WITH (NOLOCK) ,
                 TB_DA025 C WITH (NOLOCK)  Left outer JOIN INSA D ON C.perid = D.insano
           where B.misdate + B.misnum = C.misdate + C.misnum AND B.misgubun = C.misgubun
             AND isnull(C.delflag, '') <> 'Y'
             AND B.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
             AND C.cltcd = A.acorp1 + CAST(A.acorp2 as varchar)
            AND A.acorp1 + CAST(A.acorp2 as varchar) Like concat('%',#{cltcd},'%')
             AND isnull(B.pcode,'')  Like concat('%',#{pcode},'%')
            AND B.misdate between #{frdate} and #{todate}
             AND isnull(B.misgubun,'')  Like concat('%',#{misgubun},'%')
             AND Isnull(B.fixflag, '') Like concat('%',#{fixflag},'%')
            ORDER BY B.pcode,  B.misdate, B.misnum, B.seq
        ]]>

    </select>

    <insert id="InsertDa023" parameterType="com.dae.eean.DTO.App01.IndexDa023Dto" >
        insert into TB_DA023 (custcd, spjangcd, cltcd, misgubun, misdate, misnum,
        contamt, gubun, yyyymm, perid, amt, addamt, misamt, billkind,
        taxcls, taxgubun, tax_spdate, tax_spnum, remark, bigo, vatemail, vatpernm,
        spjangnum, delflag, ggubun ) values
        ('EEAN', 'ZZ', #{cltcd}, #{misgubun}, #{misdate},    #{misnum},
         #{contamt}, #{gubun},    #{yyyymm},     #{perid},     #{amt},      #{addamt},  #{misamt},  #{billkind},
         #{taxcls},  #{taxgubun}, '', '', #{remark},   #{bigo},    #{vatemail}, #{vatpernm}, #{spjangnum}, 'N', #{ggubun} )
    </insert>

    <insert id="InsertDa025" parameterType="com.dae.eean.DTO.App01.IndexDa023Dto" >
        insert into TB_DA025 (custcd, spjangcd, cltcd, misgubun, misdate, misnum,
        contamt, gubun, yyyymm, perid, amt, addamt, misamt, billkind,
        taxcls, taxgubun, tax_spdate, tax_spnum, remark, bigo, vatemail, vatpernm,
        spjangnum, delflag, ggubun  ) values
        ('EEAN', 'ZZ', #{cltcd}, #{misgubun}, #{misdate},    #{misnum},
        #{contamt}, #{gubun},    #{yyyymm},     #{perid},     #{amt},      #{addamt},  #{misamt},  #{billkind},
        #{taxcls},  #{taxgubun}, '', '', #{remark},   #{bigo},    #{vatemail}, #{vatpernm}, #{spjangnum}, 'N' , #{ggubun} )
    </insert>


    <insert id="InsertDa024" parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" >
        insert into TB_DA024 (custcd, spjangcd, cltcd, misgubun, misdate, misnum, seq,
        pcode, pname, psize,    punit,  qty,  uamt, samt, addamt,
        amt, indate, inperid, pbonsa, pbonsa2, pmodel, pcolor  ) values
        ('EEAN', 'ZZ', #{cltcd},    #{misgubun}, #{misdate},  #{misnum}, #{seq},
        #{pcode}, #{pname}, #{psize}, #{punit}, #{qty},   #{uamt},  #{samt},  #{addamt},
        #{amt},  #{indate}, #{inperid} , #{pbonsa} , #{pbonsa2} , #{pmodel} , #{pcolor}  )
    </insert>

    <insert id="InsertDa026" parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" >
        insert into TB_DA026 (custcd, spjangcd, cltcd, misgubun, misdate, misnum, seq,
        pcode, pname, psize,    punit,  qty,  uamt, samt, addamt,
        amt, indate, inperid, pbonsa, pbonsa2, pmodel, pcolor  ) values
        ('EEAN', 'ZZ', #{cltcd},   #{misgubun},  #{misdate},  #{misnum}, #{seq},
        #{pcode}, #{pname}, #{psize}, #{punit}, #{qty},   #{uamt},  #{samt},  #{addamt},
        #{amt},  #{indate}, #{inperid} , #{pbonsa} , #{pbonsa2} , #{pmodel} , #{pcolor}  )
    </insert>

    <insert id="InsertDa023Order" parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" >
        insert into TB_DA023 (custcd, spjangcd, cltcd, misgubun, misdate, misnum,
            contamt, gubun, yyyymm, perid, amt, addamt, misamt, billkind,
            taxcls, taxgubun, tax_spdate, tax_spnum, remark, bigo, vatemail, vatpernm,
            spjangnum, delflag, ggubun )
        SELECT custcd, spjangcd, cltcd, misgubun, #{omisdate}, #{omisnum},
            contamt, gubun, yyyymm, perid, amt, addamt, misamt, billkind,
            taxcls, taxgubun, tax_spdate, tax_spnum, remark, bigo, vatemail, vatpernm,
            spjangnum, delflag, ggubun
        FROM TB_DA025 WHERE misdate = #{misdate} and misnum = #{misnum} and cltcd =#{cltcd} and misgubun = #{misgubun}
    </insert>


    <insert id="InsertDa024Order" parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" >
        insert into TB_DA024 (custcd, spjangcd, cltcd, misgubun, misdate, misnum, seq,
            pcode, pname, psize,    punit,  qty,  uamt, samt, addamt,
            amt, indate, inperid, pbonsa, pbonsa2, pmodel, pcolor  )
        SELECT custcd, spjangcd, cltcd, misgubun, #{omisdate}, #{omisnum}, seq,
            pcode, pname, psize,    punit,  qty,  uamt, samt, addamt,
            amt, indate, inperid, pbonsa, pbonsa2, pmodel, pcolor
        FROM TB_DA026 WHERE misdate=#{misdate} and misnum = #{misnum} and cltcd =#{cltcd} and misgubun = #{misgubun} and seq = #{seq}
    </insert>


    <insert id="InsertIa011" parameterType="com.dae.eean.DTO.App01.IndexIa011Dto" >
        insert into TB_IA011 (custcd, spjangcd, cltcd, spdate, spnum, suprice,taxamt,
            remarks, pubdate, booknum,    bookho,  serinum,  occuclafi, pubdatey, pubdatem, pubdated,
            artclnm1, artclnm2, artclnm3 , artclnm4,standard1, standard2, standard3, standard4,
            qty1, qty2, qty3, qty4, uprice1, uprice2, uprice3, uprice4, suprice1, suprice2, suprice3, suprice4,
            taxamt1, taxamt2, taxamt3, taxamt4, delflag,
            cltnm, prenm, saupnum, prenum, biztypenm, bisitemnm, zipcd, cltadres,
            taxmail, taxflag, misdate, misnum
        ) values
        (   'EEAN', 'ZZ', #{cltcd},   #{spdate},  #{spnum}, #{suprice}, #{taxamt},
            #{remarks}, #{pubdate}, #{booknum}, #{bookho}, #{serinum},   #{occuclafi},  #{pubdatey},  #{pubdatem}, #{pubdated},
            #{artclnm1},  #{artclnm2}, #{artclnm3} , #{artclnm4} , #{artclnm3} , #{standard1} , #{standard2} , #{standard3} , #{standard4},
            #{qty1} , #{qty2} , #{qty3} , #{qty4} , #{uprice1} , #{uprice2} , #{uprice3} , #{uprice4} ,
            #{suprice1}, #{suprice2}, #{suprice3}, #{suprice4}, #{taxamt1}, #{taxamt2}, #{taxamt3}, #{taxamt4}, #{delflag},
            #{cltnm}, #{prenm}, #{saupnum}, #{prenum}, #{biztypenm}, #{bisitemnm}, #{zipcd}, #{cltadres},
            #{taxmail}, #{taxflag}, #{misdate}, #{misnum}  )
    </insert>


    <insert id="InsertIa012" parameterType="com.dae.eean.DTO.App01.IndexIa012Dto" >
        insert into TB_IA012 (custcd, spjangcd, odnum, spdate, spnum, moday,
             artclnm, standard, qty,    uprice,  suprice,  taxamt, remarks  ) values
        (   'EEAN', 'ZZ', #{odnum},   #{spdate},  #{spnum}, #{moday},
             #{artclnm}, #{standard}, #{qty}, #{uprice}, #{suprice},   #{taxamt},  #{remarks}   )
    </insert>



    <delete id="DeleteDA023" parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" >
        delete from tb_da023
        where misdate = #{misdate} and misnum = #{misnum} and cltcd = #{cltcd} and misgubun = #{misgubun}
          and  (select count(*) as cnt  from tb_da024 with (NOLOCK) where misdate = #{misdate} and misnum=#{misnum} and misgubun = #{misgubun} and cltcd = #{cltcd} ) = 0
    </delete>

    <delete id="DeleteDA024" parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" >
        delete from tb_da024
        where misdate = #{misdate} and misnum = #{misnum} and seq = #{seq} and cltcd = #{cltcd} and misgubun = #{misgubun} and isnull(fixflag,'0') = '0'
    </delete>

    <delete id="DeleteDA023Ord" parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" >
        delete from tb_da023
        where  cltcd = #{cltcd} and misgubun = #{misgubun} and misdate = #{omisdate} and misnum=#{omisnum}
          and  (select count(*) as cnt  from tb_da024 with (NOLOCK) where misdate = #{omisdate} and misnum=#{omisnum} and misgubun = #{misgubun} and cltcd = #{cltcd} ) = 0
    </delete>

    <delete id="DeleteDA024Ord" parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" >
        delete from tb_da024
        where  cltcd = #{cltcd} and misgubun = #{misgubun}
          and  misdate + misnum + seq  = ( #{omisdate} + #{omisnum} + #{oseq} ) and isnull(fixflag,'0') = '0'
    </delete>


    <delete id="DeleteDA025" parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" >
        delete from tb_da025
        where misdate = #{misdate} and misnum = #{misnum} and cltcd = #{cltcd} and misgubun = #{misgubun}
          and misdate + misnum not in (select misdate + misnum from tb_da026 where misdate = #{misdate} and misnum=#{misnum} and misgubun = #{misgubun} )
    </delete>

    <delete id="DeleteDA026" parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" >
        delete from tb_da026
        where misdate = #{misdate} and misnum = #{misnum} and seq = #{seq} and cltcd = #{cltcd} and misgubun = #{misgubun}  and isnull(fixflag,'0') = '0'
    </delete>


    <update id="UpdateDA024" parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" >
        UPDATE tb_da024 SET
        fixflag=#{fixflag}
        where misdate=#{misdate} and misnum=#{misnum} and  seq=#{seq} and cltcd = #{cltcd} and misgubun = #{misgubun}
    </update>


    <update id="UpdateDA026" parameterType="com.dae.eean.DTO.App01.IndexDa024Dto" >
        UPDATE tb_da026 SET
        fixflag=#{fixflag}, omisdate=#{omisdate}, omisnum=#{omisnum}, oseq=#{oseq}
        where misdate=#{misdate} and misnum=#{misnum} and  seq=#{seq} and cltcd = #{cltcd} and misgubun = #{misgubun}
    </update>





</mapper>
