<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.eean.Mapper.App01.Index04Mapper">

    <select id="SelectJegoIpgo"  parameterType="com.dae.eean.DTO.App01.Index04Dto" resultType="com.dae.eean.DTO.App01.Index04Dto">
        <![CDATA[ select A.jepm, A.acorp, A.key1, A.jepm_size, A.ijaego_su1 , B.jpum as jpumnm, B.jgugek as jgugek , B.jsize as jsize,
                         B.jmodel_code as jmodel_code, B.jcolor_code as jcolor_code, B.jcustomer_code as jcustomer_code
           from JEGO_JEPMJANAK A WITH (NOLOCK) , JCODE3 B WITH (NOLOCK)
           where key1 = #{key1}   ]]>
    </select>

    <insert id="InsertJegoIpgo" parameterType="com.dae.eean.DTO.App01.Index04Dto" >
        insert into JEGO_JEPMJANAK (jepm, acorp, key1, jepm_size, ijaego_su1) values
                        (#{jepm}, #{acorp}, #{key1}, #{jepm_size}, #{ijaego_su1})
    </insert>


    <delete id="DeleteJaegoIpgo" parameterType="com.dae.eean.DTO.App01.Index04Dto">
        DELETE  JEGO_JEPMJANAK  where key1  = #{key1}
    </delete>


</mapper>
