<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.eean.Mapper.PopupMapper">
    <select id="GetInsaList" parameterType="com.dae.eean.DTO.Popup.PopupDto" resultType="com.dae.eean.DTO.Popup.PopupDto">
        <![CDATA[
            select perid as insano, username as inname
            from TB_XUSERS WITH (NOLOCK)
            WHERE (isnull(username,'') Like concat('%',#{inname},'%') or isnull(perid,'') Like concat('%',#{inname},'%') )
            and flag = 'CC' and useyn = 'Y'
            ORDER BY username

        ]]>
    </select>


    <select id="getCifCodeList"  parameterType="com.dae.eean.DTO.Popup.PopupDto" resultType="com.dae.eean.DTO.Popup.PopupDto">
        <![CDATA[
            select cifcode, cifcodename from cifcode  where cifcode  not in ('00', '$0') and isnull(cifcode,'') Like concat('%',#{cifcode},'%') order by cifcode
        ]]>
    </select>



    <insert id="InsertCifCode" parameterType="com.dae.eean.DTO.Popup.PopupDto" >
        insert into CIFCODE (cifcode, cifcodename ) values
            (#{cifcode}, #{cifcodename})
    </insert>

    <update id="UpdateCifCode" parameterType="com.dae.eean.DTO.Popup.PopupDto">
        UPDATE  CIFCODE SET cifcodename = #{cifcodename} where cifcode   = #{cifcode}
    </update>

    <update id="DeleteCifCode" parameterType="com.dae.eean.DTO.Popup.PopupDto">
        DELETE  CIFCODE   where cifcode  = #{cifcode}
    </update>

    <select id="getMNoticeMaxSeq"  parameterType="string" resultType="java.lang.String">
        select max(nseq) from tb_mnotice  where Left(nseq,6) = #{nseq}
    </select>


    <insert id="InsertMNotice" parameterType="com.dae.eean.DTO.App05ElvlrtDto" >
        insert into tb_mnotice (custcd, spjangcd, nseq, ninputdate, ngourpcd, nsubject, nmemo, npernm, nflag, frdate, todate)
        values (#{custcd}, #{spjangcd}, #{nseq}, #{ninputdate}, #{ngourpcd}, #{nsubject}, #{nmemo}, #{npernm}, #{nflag}, #{frdate}, #{todate})
    </insert>

    <update id="UpdateMNotice" parameterType="com.dae.eean.DTO.App05ElvlrtDto">
        update tb_mnotice set
        ngourpcd = #{ngourpcd}
        <if test="nsubject != null ">,</if>
        <if test="nsubject != null">nsubject=#{nsubject}</if>
        <if test="nfilename != null ">,</if>
        <if test="nfilename != null">nfilename=#{nfilename}</if>
        <if test="nmemo != null ">,</if>
        <if test="nmemo != null">nmemo=#{nmemo}</if>
        <if test="ninputdate != null ">,</if>
        <if test="ninputdate != null">ninputdate=#{ninputdate}</if>
        <if test="npernm != null ">,</if>
        <if test="npernm != null">npernm=#{npernm}</if>
        <if test="nflag != null ">,</if>
        <if test="nflag != null">nflag=#{nflag}</if>
        <if test="frdate != null ">,</if>
        <if test="frdate != null">frdate=#{frdate}</if>
        <if test="todate != null ">,</if>
        <if test="todate != null">todate=#{todate}</if>
        where nseq = #{nseq}
    </update>


    <delete id="DeleteMNotice" parameterType="com.dae.eean.DTO.App05ElvlrtDto">
        delete from tb_mnotice where nseq = #{nseq}
    </delete>

    <select id="GetMNoticeList"  parameterType="com.dae.eean.DTO.App05ElvlrtDto" resultType="com.dae.eean.DTO.App05ElvlrtDto">
        <![CDATA[
            select  nseq, ninputdate, ngourpcd, nsubject, nfilename, npernm, nmemo, nflag, isnull((select com_rem1 from tb_ca510 where com_cls = '004' and com_code <> '00' and com_code=ngourpcd),'') as cnam,
            (select Count(*) from tb_mattach where flag='NN' and board_idx=nseq and delete_yn = 'N') as attcnt,
            Left(frdate,4) + '-' + substring(frdate, 5,2)+ '-' + substring(frdate, 7,2) as  frdate,
            Left(todate,4) + '-' + substring(todate, 5,2)+ '-' + substring(todate, 7,2) as  todate
            from tb_mnotice WITH (NOLOCK)
            Where 1 = 1
            AND nsubject like concat('%',#{nsubject},'%')
            AND ( ngourpcd like concat('%',#{ngourpcd},'%') OR nflag = 'Y')
            order by nseq desc;
        ]]>
    </select>
    <select id="GetTodayMNoticeList"  parameterType="com.dae.eean.DTO.App05ElvlrtDto" resultType="com.dae.eean.DTO.App05ElvlrtDto">
        <![CDATA[
            select   nseq,  ngourpcd, nsubject, nfilename, npernm, nmemo, nflag, isnull((select com_rem1 from tb_ca510 where com_cls = '004' and com_code <> '00' and com_code=ngourpcd),'') as cnam,
            (select Count(*) from tb_mattach where flag='NN' and board_idx=nseq and delete_yn = 'N') as attcnt,
            Left(ninputdate,4) + '-' + substring(ninputdate, 5,2)+ '-' + substring(ninputdate, 7,2) as  ninputdate,
            Left(frdate,4) + '-' + substring(frdate, 5,2)+ '-' + substring(frdate, 7,2) as  frdate,
            Left(todate,4) + '-' + substring(todate, 5,2)+ '-' + substring(todate, 7,2) as  todate
            from tb_mnotice WITH (NOLOCK)
            Where 1 = 1
            AND frdate <= #{ninputdate} and todate >= #{ninputdate}
            AND ( ngourpcd like concat('%',#{ngourpcd},'%') OR nflag = 'Y')
            order by nseq desc;
        ]]>
    </select>
</mapper>
